<!doctype html>
<html ng-app="miq.appModule">
<head>
    <meta charset="utf-8"/>

    <title>ManageIQ</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="shortcut icon" href="favicon.ico?v=1"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

     <!-- build:css styles/css/libraries.css -->
    <link rel="stylesheet" href="libraries/patternfly/dist/css/patternfly.min.css"/>
    <link rel="stylesheet" href="libraries/patternfly/dist/css/patternfly-additions.min.css"/>
    <link rel="stylesheet" href="libraries/angular-patternfly/dist/styles/angular-patternfly.css">
    <!-- endbuild -->

    <!-- build:css styles/css/app.css -->
    <link rel="stylesheet" href="styles/app.css"/>
    <!-- endbuild -->

</head>
<body id="pf-app" class="pf-body miq-body ng-cloak>

<div class="pf-framework">
    <header class="pf-framework-header">
        <nav class="navbar navbar-default navbar-pf navbar-fixed-top" role="navigation" ng-controller="miq.appController">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="styles/images/brand.svg" alt="PatternFly" />
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-collapse-1">
                <ul class="nav navbar-nav navbar-utility">
                    <li class="dropdown" dropdown>
                        <a href dropdown-toggle>
                            <span class="pficon pficon-info"></span> Messages: <strong>{{ notifications.length }}</strong>
                        </a>
                        <div class="dropdown-menu infotip bottom-right">
                            <div class="arrow"></div>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="notification in notifications">
                                    <span class="i pficon pficon-info"></span> {{ notification.text }}
                                </li>
                            </ul>
                            <div class="footer">
                                <a ng-click="clearNotifications()" ng-if="notifications.length > 0">Clear Messages</a>
                                <span ng-if="notifications.length === 0">No Messages</span>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown" dropdown>
                        <a class="dropdown-toggle" dropdown-toggle>
                            <span class="pficon pficon-user"></span>
                            {{ username }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a>About Me</a>
                            </li>
                            <li>
                                <a>Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div miq-navigation items="navigationItems"></div>
            </div>
        </nav>
    </header>

    <div class="miq-fixed-body" id="centralPanel">
        <div class="pf-framework-content">
            <main ng-view class="pf-framework-view"></main>
        </div>
    </div>
</div>

<!-- build:js js/libraries.js -->
<script src="libraries/jquery/dist/jquery.min.js"></script>
<script src="libraries/bootstrap-select/js/bootstrap-select.js"></script>
<script src="libraries/moment/min/moment.min.js"></script>
<script src="libraries/angular/angular.js"></script>
<script src="libraries/angular-route/angular-route.min.js"></script>
<script src="libraries/angular-resource/angular-resource.min.js"></script>
<script src="libraries/angular-sanitize/angular-sanitize.min.js"></script>
<script src="libraries/patternfly/dist/js/patternfly.min.js"></script>
<script src="libraries/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="libraries/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="libraries/angular-translate/angular-translate.min.js"></script>
<script src="libraries/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="libraries/d3/d3.js"></script>
<script src="libraries/c3/c3.js"></script>
<script src="libraries/angular-patternfly/dist/angular-patternfly.js"></script>
<script src="libraries/lodash/lodash.min.js"></script>
<!-- endbuild -->

<!-- build:js js/app.js -->
<script src="modules/app/util/util-module.js"></script>
<script src="modules/app/util/chart-data-mixin.js"></script>
<script src="modules/app/util/chart-config-util.js"></script>
<script src="modules/app/util/column-config.js"></script>
<script src="modules/app/util/dashboard-utils.js"></script>
<script src="modules/app/util/list-utils.js"></script>

<script src="modules/app/directives/navigation/navigation-directive.js"></script>

<script src="modules/app/directives/card/card.module.js"></script>
<script src="modules/app/directives/card/heatmaps/heatmaps-card-directive.js"></script>

<script src="modules/app/directives/dialogs/dialogs.module.js"></script>
<script src="modules/app/directives/dialogs/modal-dialog-directive.js"></script>

<script src="modules/app/directives/wizard/wizard-module.js"></script>
<script src="modules/app/directives/wizard/wizard-directive.js"></script>
<script src="modules/app/directives/wizard/wizard-step-directive.js"></script>
<script src="modules/app/directives/wizard/wizard-substep-directive.js"></script>
<script src="modules/app/directives/wizard/wizard-buttons.js"></script>

<script src="modules/app/directives/charts/charts-module.js"></script>
<script src="modules/app/directives/charts/progress/progress-chart-directive.js"></script>
<script src="modules/app/directives/charts/data-list-usage-chart-directive.js"></script>
<script src="modules/app/directives/charts/inline-object-status-directive.js"></script>

<script src="modules/app/directives/lists/object-list-directive.js"></script>
<script src="modules/app/directives/lists/list-columns-directive.js"></script>

<script src="modules/containers/containers-module.js"></script>

<script src="modules/containers/dashboard/dashboard-module.js"></script>
<script src="modules/containers/dashboard/dashboard-controller.js"></script>
<script src="modules/containers/providers/providers-module.js"></script>
<script src="modules/containers/providers/providers-controller.js"></script>
<script src="modules/containers/providers/provider-controller.js"></script>
<script src="modules/containers/providers/deploy-provider/deploy-provider-controller.js"></script>
<script src="modules/containers/providers/deploy-provider/deploy-provider-details-general-controller.js"></script>
<script src="modules/containers/providers/deploy-provider/deploy-provider-master-nodes-controller.js"></script>
<script src="modules/containers/providers/deploy-provider/deploy-provider-details-existing-vms-controller.js"></script>
<script src="modules/containers/providers/deploy-provider/deploy-provider-details-no-provider-controller.js"></script>
<script src="modules/containers/projects/projects-module.js"></script>
<script src="modules/containers/projects/projects-controller.js"></script>
<script src="modules/containers/projects/project-controller.js"></script>
<script src="modules/containers/pods/pods-module.js"></script>
<script src="modules/containers/pods/pods-controller.js"></script>
<script src="modules/containers/pods/pod-controller.js"></script>

<script src="modules/infrastructure/infrastructure-module.js"></script>
<script src="modules/infrastructure/providers/providers-module.js"></script>
<script src="modules/infrastructure/providers/provider-controller.js"></script>


<script src="modules/app/app-module.js"></script>
<script src="modules/app/controllers/app-controller.js"></script>
<script src="modules/app/fixes.js"></script>

<!-- endbuild -->


</body>
</html>
