## .gitignore file for project
## generic file ignore
*.lock
*.DS_Store
*.swp
*.out
.tmp
.gitkeep

## IDE Specific ignores
.idea/*
*.iml
*.sublime-project
*.sublime-workspace
atlassian-ide-plugin.xml

## Node ignore
*/node_modules/
*/src/libraries/
*/bower_components/

## Environmental ignore
npm-debug.log
describe.txt

##Framework Ignores
#angular/src/styles/app.css
appModuleTemplates.js
angular/dist
ember/dist
ember/tmp/
ember/app.css
ember/app.css.map
json-server.log
**/.sass-cache
