<div class="cfme-data-list">
    <div class="list-group-item"
       ng-repeat="item in items track by $index"
       ng-class="{'cfme-selectable': selectItems, 'active': isSelected(item), 'disabled': checkDisabled(item)}">
        <div class="row list-row" style="width: 100%; margin-right: 0px;">
            <div cfme-transclude="parent"
                 class="list-content"
                 ng-class="{'with-check-box': config.showSelectBox, 'with-menu':config.showActionMenus}"
                 ng-click="itemClick($event, item)"
                 ng-dblclick="dblClick($event, item)">
            </div>
            <div class="list-check-box" ng-if="config.showSelectBox" style="padding-top: {{(config.rowHeight - 32) / 2}}px;">
                <input type="checkbox" value="item.selected" ng-model="item.selected"  ng-change="selectionChange(item)">
            </div>
            <a class="list-menu" ng-if="config.showActionMenus" style="padding-top: {{(config.rowHeight - 32) / 2}}px;" ng-click="showMenu(item)">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </a>
        </div>
    </div>
</div>
