<div class="tile-pf tile-pf-accented tile-pf-status">
    <h2 class="tile-pf-title">
        <span class="fa pficon {{aggType.typeIconClass}} container-font-color"></span>
        <span class="tile-pf-status-count">{{aggType.count}}</span>
        <span class="tile-pf-status-type">{{aggType.typeName}}</span>
        <div class="status-notifications">
            <i class="fa-status-icon {{aggType.errorIconClass}}"/>
            <span class="count">{{aggType.errorCount}}</span>
        </div>
    </h2>
</div>