<div class="container-fluid container-tiles-pf containers-dashboard">
    <div class="row row-tile-pf" >
        <div class="col-xs-6 col-sm-4 col-md-2">
            <div pf-aggregate-status-card status="vm.providers" show-top-border="true" layout="tall"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-3">
                <div  pf-aggregate-status-card status="vm.nodesStatus" url="vm.navigation" layout="mini"></div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                  <div  pf-aggregate-status-card status="vm.containersStatus" url="vm.navigation" layout="mini"></div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                  <div  pf-aggregate-status-card status="vm.registriesStatus" url="vm.navigation" layout="mini"></div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                  <div  pf-aggregate-status-card status="vm.projectsStatus" url="vm.navigation" layout="mini"></div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                  <div  pf-aggregate-status-card status="vm.podsStatus" url="vm.navigation" layout="mini"></div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                  <div  pf-aggregate-status-card status="vm.servicesStatus" url="vm.navigation" layout="mini"></div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                  <div  pf-aggregate-status-card status="vm.imagesStatus" url="vm.navigation" layout="mini"></div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                  <div  pf-aggregate-status-card status="vm.routesStatus" url="vm.navigation" layout="mini"></div>
              </div>
            </div><!-- /row -->
        </div>
    </div><!-- /row -->
    <div class="row row-tile-pf">
        <div class="col-xs-7 col-sm-7 col-md-7">
            <div pf-card head-title="Node Utilization" hidetopborder="true">
                <div class="row" ng-if="vm.utilizationLoadingDone">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div pf-utilization-chart config="vm.cpuUsageConfig" donut-config="vm.cpuUsageDonutConfig" sparkline-config="vm.cpuUsageSparklineConfig" chart-data="vm.cpuUsageData"></div>
                      <span class="trend-footer-pf">Last 30 Days</span>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div pf-utilization-chart config="vm.memoryUsageConfig" donut-config="vm.memoryUsageDonutConfig" sparkline-config="vm.memoryUsageSparklineConfig" chart-data="vm.memoryUsageData"></div>
                      <span class="trend-footer-pf">Last 30 Days</span>
                    </div>
                </div>
                <div ng-if="!vm.utilizationLoadingDone" class="spinner spinner-lg loading"></div>
            </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5">
            <div pf-card head-title="{{vm.networkUtilizationCurrentConfig.headTitle}}">
              <div pf-trends-chart config="vm.networkUtilizationCurrentConfig" chart-data="vm.currentNetworkUtilization"
                   ng-if="vm.networkUtilizationLoadingDone" chart-height="vm.chartHeight">
              </div>
            </div>
            <div pf-card head-title="{{vm.networkUtilizationDailyConfig.headTitle}}">
              <div pf-trends-chart config="vm.networkUtilizationDailyConfig" chart-data="vm.dailyNetworkUtilization"
                   ng-if="vm.networkUtilizationLoadingDone" chart-height="vm.chartHeight">
              </div>
            </div>
            <div ng-if="!vm.networkUtilizationLoadingDone" class="spinner spinner-lg loading"></div>
        </div>
    </div><!-- /row -->
    <div class="row row-tile-pf row-tile-pf-last">
        <div class="col-md-7">
          <div heatmaps-card title="Node Utilization" hidetopborder="true"
               heatmaps="vm.heatmaps" heatmap-chart-height="vm.dashboardHeatmapChartHeight" columnSizingClass="col-xs-8 col-sm-6 col-md-6"
               heat-map-usage-legend-labels="vm.nodeHeatMapUsageLegendLabels">
          </div>
        </div>
        <div class="col-xs-5 col-sm-4 col-md-5">
            <div style="width:100%;">
              <div pf-card head-title="{{vm.podTrendConfig.headTitle}}">
                <div pf-trends-chart config="vm.podTrendConfig" chart-data="vm.podTrends"
                     ng-if="vm.podTrendsLoadingDone" chart-height="vm.chartHeight">
                </div>
              </div>
              <div ng-if="!vm.podTrendsLoadingDone" class="spinner spinner-lg loading"></div>
              <div pf-card head-title="{{vm.imageTrendConfig.headTitle}}">
                <div pf-trends-chart config="vm.imageTrendConfig" chart-data="vm.imageTrends"
                     ng-if="vm.imageTrendLoadingDone" chart-height="vm.chartHeight">
                </div>
              </div>
              <div ng-if="!vm.imageTrendLoadingDone" class="spinner spinner-lg loading"></div>
            </div>
        </div>
    </div>
</div><!-- /container -->
