<div class="tile-pf tile-pf-accented tile-pf-status">
    <h2 class="tile-pf-title">
        <span class="fa pficon {{objectType.typeIconClass}} container-font-color"></span>
        <span class="tile-pf-status-count">{{objectType.count}}</span>
        <span class="tile-pf-status-type">{{objectType.typeName}}</span>
        <div class="status-notifications" ng-if="objectType.error">
            <i class="fa-status-icon {{objectType.error.errorIconClass}}"/>
            <span class="count">{{objectType.error.errorCount}}</span>
        </div>
    </h2>
</div>