<div class="container-fluid container-tiles-pf miq-objects-view">
  <ol class="breadcrumb" style="margin-bottom: 0px;">
    <li class="active"><a href="#/containers/dashboard">Containers</a></li>
    <li>Projects</li>
  </ol>
  <div pf-toolbar class="row" config="toolbarConfig"></div>
  <div object-list list-class="projects-list row" list-id="{{listId}}"
       list-config="listConfig" items="projects" columns="columns"
       ng-if="projectsLoaded && projectsViewType == 'listView'">
  </div>
  <div pf-card-view id="{{listId}}" class="projects-cards" config="listConfig" items="projects" ng-if="projectsLoaded && projectsViewType == 'cardView'">
    <div class="card-title">
      <span class="pficon pficon-project container-font-color miq-icon-label"></span>
      <span class="miq-icon-label">{{item.name}}</span>
    </div>
    <div class="row card-row">
      <div class="status-object provider-object">
        <span class="pficon {{item.provider.icon}}  container-font-color miq-icon-label"></span>
        <span class="status-text" style="vertical-align: middle;">{{item.provider.name}}</span>
      </div>
    </div>
    <div class="row card-row">
      <div class="col-md-12">
        <div pf-utilization-bar-chart chart-data="item.cpuUsageData" chart-title="item.cpuTitle" layout="item.layoutInline" units="item.cpuUnits" threshold-error="85" threshold-warning="60"></div>
        <div pf-utilization-bar-chart chart-data="item.memoryUsageData" chart-title="item.memoryTitle" layout="item.layoutInline" units="item.memoryUnits" threshold-error="85" threshold-warning="60"></div>
      </div>
    </div>
    <div class="row card-row">
      <div class="card-column">
        <div class="status-object">
          <span class="pficon {{item.podsInfo.iconClass}}  container-font-color miq-icon-label"></span>
          <span class="status-count">{{item.podsInfo.count}}</span>
          <span class="status-text">{{item.podsInfo.name}}</span>
        </div>
        <div class="status-object">
          <span class="pficon {{item.routesInfo.iconClass}} container-font-color miq-icon-label"></span>
          <span class="status-count">{{item.routesInfo.count}}</span>
          <span class="status-text">{{item.routesInfo.name}}</span>
        </div>
        <div class="status-object">
          <span class="pficon {{item.imagesInfo.iconClass}} container-font-color miq-icon-label"></span>
          <span class="status-count">{{item.imagesInfo.count}}</span>
          <span class="status-text">{{item.imagesInfo.name}}</span>
        </div>
      </div>
      <div class="card-column">
        <div class="status-object">
          <span class="pficon {{item.containersInfo.iconClass}}  container-font-color miq-icon-label"></span>
          <span class="status-count">{{item.containersInfo.count}}</span>
          <span class="status-text">{{item.containersInfo.name}}</span>
        </div>
        <div class="status-object">
          <span class="pficon {{item.servicesInfo.iconClass}} container-font-color miq-icon-label"></span>
          <span class="status-count">{{item.servicesInfo.count}}</span>
          <span class="status-text">{{item.servicesInfo.name}}</span>
        </div>
        <div class="status-object">
          <span class="pficon {{item.registriesInfo.iconClass}} container-font-color miq-icon-label"></span>
          <span class="status-count">{{item.registriesInfo.count}}</span>
          <span class="status-text">{{item.registriesInfo.name}}</span>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
