<div class="container-fluid container-tiles-pf">
  <ol class="breadcrumb" style="margin-bottom: 0px;">
    <li class="active"><a href="#/containers/dashboard">Containers</a></li>
    <li>Projects</li>
  </ol>
  <div pf-data-toolbar class="row" config="vm.toolbarConfig"></div>
  <div pf-data-list class="projects-list row" id="{{vm.listId}}" config="vm.listConfig" items="vm.projects" ng-if="vm.projectsLoaded && projectsViewType == 'listView'">
    <div class="row">
      <div class="cfme-column name-column">
        <span class="cfme-label cfme-title">{{item.name}}</span>
      </div>
      <div class="cfme-column provider-column">
        <span class="pficon fa {{item.provider.icon}} container-font-color cfme-icon-label"></span>
        <span class="cfme-label">{{item.provider.name}}</span>
      </div>
      <div class="cfme-column cpu-usage-column">
        <div>
          <span class="cfme-label cfme-title">CPU Usage (c)</span>
          <span class="cfme-label cfme-count">{{item.cpuUsageData.used}}</span>
        </div>
        <div>
          <span class="cfme-label cfme-title">Limit (c)</span>
          <span class="cfme-label cfme-count">{{item.cpuUsageData.total}}</span>
        </div>
      </div>
      <div class="cfme-column memory-usage-column">
        <div>
          <span class="cfme-label cfme-title">Memory Usage (MB)</span>
          <span class="cfme-label cfme-count">{{item.memoryUsageData.used}}</span>
        </div>
        <div>
          <span class="cfme-label cfme-title">Limit (MB)</span>
          <span class="cfme-label cfme-count">{{item.memoryUsageData.total}}</span>
        </div>
      </div>
      <div class="cfme-column storage-usage-column">
        <div>
          <span class="cfme-label cfme-title">Storage Usage (GB)</span>
          <span class="cfme-label cfme-count">{{item.storageUsageData.used}}</span>
        </div>
        <div>
          <span class="cfme-label cfme-title">Limit (MB)</span>
          <span class="cfme-label cfme-count">{{item.storageUsageData.total}}</span>
        </div>
      </div>
      <div class="cfme-column network-usage-column">
        <div>
          <span class="cfme-label cfme-title">Network Usage (Gbps)</span>
          <span class="cfme-label cfme-count">{{item.networkUsageData.used}}</span>
        </div>
        <div>
          <span class="cfme-label cfme-title">Limit (Gbps)</span>
          <span class="cfme-label cfme-count">{{item.networkUsageData.total}}</span>
        </div>
      </div>
      <div class="cfme-column pods-column">
        <span class="pficon {{item.podsInfo.iconClass}}  container-font-color cfme-icon-label"></span>
        <span class="cfme-icon-label cfme-count">{{item.podsInfo.count}}</span>
        <span class="cfme-label">Pods</span>
      </div>
      <div class="cfme-column services-column">
        <span class="pficon {{item.servicesInfo.iconClass}} container-font-color cfme-icon-label"></span>
        <span class="cfme-icon-label cfme-count">{{item.servicesInfo.count}}</span>
        <span class="cfme-label">Services</span>
      </div>
      <div class="cfme-column routes-column">
        <span class="pficon {{item.routesInfo.iconClass}} container-font-color cfme-icon-label"></span>
        <span class="cfme-icon-label cfme-count">{{item.routesInfo.count}}</span>
        <span class="cfme-label">Routes</span>
      </div>
      <div class="cfme-column replicators-column">
        <span class="pficon {{item.replicatorsInfo.iconClass}} container-font-color cfme-icon-label"></span>
        <span class="cfme-icon-label cfme-count">{{item.replicatorsInfo.count}}</span>
        <span class="cfme-label">Replicators</span>
      </div>
    </div>
  </div>
  <div pf-data-tiles id="{{vm.listId}}" class="projects-tiles row" config="vm.listConfig" items="vm.projects" ng-if="vm.projectsLoaded && projectsViewType == 'tilesView'">
    <div class="tile-title">
      <span class="pficon pficon-project container-font-color cfme-icon-label"></span>
      <span class="cfme-icon-label">{{item.name}}</span>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div pf-utilization-chart config="item.cpuUsageConfig" donut-config="item.cpuUsageDonutConfig" sparkline-config="item.cpuUsageSparklineConfig" chart-data="item.cpuUsageData"></div>
      </div>
    </div>
  </div>
</div>
