<div class="container-fluid container-tiles-pf cfme-objects-view">
  <ol class="breadcrumb" style="margin-bottom: 0px;">
    <li class="active"><a href="#/containers/dashboard">Containers</a></li>
    <li>Projects</li>
  </ol>
  <div pf-data-toolbar class="row" config="vm.toolbarConfig"></div>
  <div pf-data-list class="projects-list row" id="{{vm.listId}}" config="vm.listConfig" items="vm.projects" ng-if="vm.projectsLoaded && projectsViewType == 'listView'">
    <div class="row">
      <div class="cfme-column name-column">
        <span class="cfme-label cfme-title">{{item.name}}</span>
      </div>
      <div class="cfme-column provider-column">
        <span class="pficon {{item.provider.icon}} container-font-color cfme-icon-label"></span>
        <span class="cfme-label">{{item.provider.name}}</span>
      </div>
      <div class="cfme-column cpu-usage-column">
        <div>
          <span class="cfme-label cfme-title">CPU Used (c)</span>
          <span class="cfme-label cfme-count">{{item.cpuUsageData.used}}</span>
        </div>
        <div>
          <span class="cfme-label cfme-title">Total (c)</span>
          <span class="cfme-label cfme-count">{{item.cpuUsageData.total}}</span>
        </div>
      </div>
      <div class="cfme-column memory-usage-column">
        <div>
          <span class="cfme-label cfme-title">Memory Used (GB)</span>
          <span class="cfme-label cfme-count">{{item.memoryUsageData.used}}</span>
        </div>
        <div>
          <span class="cfme-label cfme-title">Total (GB)</span>
          <span class="cfme-label cfme-count">{{item.memoryUsageData.total}}</span>
        </div>
      </div>
      <div class="cfme-column cfme-object-column pods-column">
        <span class="pficon {{item.podsInfo.iconClass}}  container-font-color cfme-icon-label"></span>
        <span class="cfme-icon-label cfme-count">{{item.podsInfo.count}}</span>
        <span class="cfme-label">{{item.podsInfo.name}}</span>
      </div>
      <div class="cfme-column cfme-object-column containers-column">
        <span class="pficon {{item.containersInfo.iconClass}}  container-font-color cfme-icon-label"></span>
        <span class="cfme-icon-label cfme-count">{{item.containersInfo.count}}</span>
        <span class="cfme-label">{{item.containersInfo.name}}</span>
      </div>
      <div class="cfme-column cfme-object-column routes-column">
        <span class="pficon {{item.routesInfo.iconClass}} container-font-color cfme-icon-label"></span>
        <span class="cfme-icon-label cfme-count">{{item.routesInfo.count}}</span>
        <span class="cfme-label">{{item.routesInfo.name}}</span>
      </div>
      <div class="cfme-column cfme-object-column services-column">
        <span class="pficon {{item.servicesInfo.iconClass}} container-font-color cfme-icon-label"></span>
        <span class="cfme-icon-label cfme-count">{{item.servicesInfo.count}}</span>
        <span class="cfme-label">{{item.servicesInfo.name}}</span>
      </div>
      <div class="cfme-column cfme-object-column images-column">
        <span class="pficon {{item.imagesInfo.iconClass}} container-font-color cfme-icon-label"></span>
        <span class="cfme-icon-label cfme-count">{{item.imagesInfo.count}}</span>
        <span class="cfme-label">{{item.imagesInfo.name}}</span>
      </div>
      <div class="cfme-column cfme-object-column registries-column">
        <span class="pficon {{item.registriesInfo.iconClass}} container-font-color cfme-icon-label"></span>
        <span class="cfme-icon-label cfme-count">{{item.registriesInfo.count}}</span>
        <span class="cfme-label">{{item.registriesInfo.name}}</span>
      </div>
    </div>
  </div>
  <div pf-data-tiles id="{{vm.listId}}" class="projects-tiles" config="vm.listConfig" items="vm.projects" ng-if="vm.projectsLoaded && projectsViewType == 'tilesView'">
    <div class="tile-title">
      <span class="pficon pficon-project container-font-color cfme-icon-label"></span>
      <span class="cfme-icon-label">{{item.name}}</span>
    </div>
    <div class="row tile-row">
      <div class="status-object provider-object">
        <span class="pficon {{item.provider.icon}}  container-font-color cfme-icon-label"></span>
        <span class="status-text" style="vertical-align: middle;">{{item.provider.name}}</span>
      </div>
    </div>
    <div class="row tile-row">
      <div class="tile-column cpu-usage-column">
        <div>
          <span class="cfme-label cfme-title">CPU Used (c)</span>
          <span class="cfme-label cfme-count">{{item.cpuUsageData.used}}</span>
        </div>
        <div>
          <span class="cfme-label cfme-title">Total (c)</span>
          <span class="cfme-label cfme-count">{{item.cpuUsageData.total}}</span>
        </div>
      </div>
      <div class="tile-column memory-usage-column">
        <div>
          <span class="cfme-label cfme-title">Memory Used (GB)</span>
          <span class="cfme-label cfme-count">{{item.memoryUsageData.used}}</span>
        </div>
        <div>
          <span class="cfme-label cfme-title">Total (GB)</span>
          <span class="cfme-label cfme-count">{{item.memoryUsageData.total}}</span>
        </div>
      </div>
    </div>
    <div class="row tile-row">
      <div class="tile-column">
        <div class="status-object">
          <span class="pficon {{item.podsInfo.iconClass}}  container-font-color cfme-icon-label"></span>
          <span class="status-count">{{item.podsInfo.count}}</span>
          <span class="status-text">{{item.podsInfo.name}}</span>
        </div>
        <div class="status-object">
          <span class="pficon {{item.routesInfo.iconClass}} container-font-color cfme-icon-label"></span>
          <span class="status-count">{{item.routesInfo.count}}</span>
          <span class="status-text">{{item.routesInfo.name}}</span>
        </div>
        <div class="status-object">
          <span class="pficon {{item.imagesInfo.iconClass}} container-font-color cfme-icon-label"></span>
          <span class="status-count">{{item.imagesInfo.count}}</span>
          <span class="status-text">{{item.imagesInfo.name}}</span>
        </div>
      </div>
      <div class="tile-column">
        <div class="status-object">
          <span class="pficon {{item.containersInfo.iconClass}}  container-font-color cfme-icon-label"></span>
          <span class="status-count">{{item.containersInfo.count}}</span>
          <span class="status-text">{{item.containersInfo.name}}</span>
        </div>
        <div class="status-object">
          <span class="pficon {{item.servicesInfo.iconClass}} container-font-color cfme-icon-label"></span>
          <span class="status-count">{{item.servicesInfo.count}}</span>
          <span class="status-text">{{item.servicesInfo.name}}</span>
        </div>
        <div class="status-object">
          <span class="pficon {{item.registriesInfo.iconClass}} container-font-color cfme-icon-label"></span>
          <span class="status-count">{{item.registriesInfo.count}}</span>
          <span class="status-text">{{item.registriesInfo.name}}</span>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
