/* line 2, scss/main.scss */
.miq-fixed-body {
  padding-top: 125px;
}

/* line 6, scss/main.scss */
.breadcrumb {
  margin-top: -20px;
}

/* line 10, scss/main.scss */
.miq-body {
  background: #f5f5f5;
}

/* line 16, scss/main.scss */
.miq-dashboard-view .card-pf-aggregate-status .card-pf-title .pficon, .miq-dashboard-view .card-pf-aggregate-status .fa, .miq-objects-view .card-pf-aggregate-status .card-pf-title .pficon, .miq-objects-view .card-pf-aggregate-status .fa {
  color: #1186C1 !important;
}
/* line 21, scss/main.scss */
.miq-dashboard-view .list-view-pf .list-group-item.active .pficon, .miq-dashboard-view .list-view-pf .list-group-item.active:hover .pficon, .miq-dashboard-view .list-view-pf .list-group-item.active:focus .pficon, .miq-objects-view .list-view-pf .list-group-item.active .pficon, .miq-objects-view .list-view-pf .list-group-item.active:hover .pficon, .miq-objects-view .list-view-pf .list-group-item.active:focus .pficon {
  color: #1186C1;
}
/* line 24, scss/main.scss */
.miq-dashboard-view .list-view-pf .list-group-item .pficon, .miq-objects-view .list-view-pf .list-group-item .pficon {
  font-size: 18px;
}
/* line 27, scss/main.scss */
.miq-dashboard-view .card-view-pf .card.active .pficon, .miq-dashboard-view .card-view-pf .card.active:hover .pficon, .miq-dashboard-view .card-view-pf .card.active:focus .pficon, .miq-objects-view .card-view-pf .card.active .pficon, .miq-objects-view .card-view-pf .card.active:hover .pficon, .miq-objects-view .card-view-pf .card.active:focus .pficon {
  color: #1186C1;
}
/* line 31, scss/main.scss */
.miq-dashboard-view .card-pf .loading, .miq-objects-view .card-pf .loading {
  margin: 10px auto;
}
/* line 35, scss/main.scss */
.miq-dashboard-view .pficon-kubernetes::before, .miq-objects-view .pficon-kubernetes::before {
  color: #326de6;
}
/* line 39, scss/main.scss */
.miq-dashboard-view .pficon-openshift::before, .miq-objects-view .pficon-openshift::before {
  color: #da2430;
}

/* line 44, scss/main.scss */
.provider-card {
  min-height: 144px;
}
/* line 47, scss/main.scss */
.provider-card .providers {
  padding: 20px 0;
}
/* line 50, scss/main.scss */
.provider-card .providers a {
  color: #000000;
  text-decoration: none;
}
/* line 55, scss/main.scss */
.provider-card .providers a:hover {
  color: #00618a;
  text-decoration: underline;
}
/* line 59, scss/main.scss */
.provider-card .providers .count {
  margin: 0 5px;
}
/* line 63, scss/main.scss */
.provider-card .providers .provider-icon {
  font-size: 22px;
  position: relative;
  top: 5px;
  padding-right: 5px;
  opacity: .9;
}
/* line 70, scss/main.scss */
.provider-card .providers .provider-icon:hover {
  opacity: 1;
}
/* line 76, scss/main.scss */
.provider-card .provider-icon-large {
  font-size: 100px;
  position: relative;
  padding-bottom: 4px;
  width: 100%;
  text-align: center;
}

/* line 85, scss/main.scss */
.providers-status {
  padding-bottom: 9px !important;
}

/* line 89, scss/main.scss */
.aggregate-status-card-full-image {
  display: block;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 48px;
}

/* line 97, scss/main.scss */
.aggregate-status-card-title-image {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-right: 7px;
}

/* line 104, scss/main.scss */
.aggregate-status-card-notification-image {
  height: 18px;
  width: 18px;
  display: inline-block;
  margin-right: 7px;
}

/* line 111, scss/main.scss */
.product-vendor-kubernetes {
  background: url("images/vendor-kubernetes.svg") left top;
}

/* line 115, scss/main.scss */
.product-vendor-atomic-enterprise {
  background: url("images/vendor-atomic.svg") left top;
}

/* line 119, scss/main.scss */
.containers-dashboard .card-pf.card-pf-aggregate-status-mini {
  height: 60px;
}

/* line 123, scss/main.scss */
.container-providers .card-pf.card-pf-aggregate-status-mini {
  height: 63px;
}

/* line 127, scss/main.scss */
.project-dashboard .card-pf.card-pf-aggregate-status-mini {
  height: 103px;
}
/* line 129, scss/main.scss */
.project-dashboard .card-pf.card-pf-aggregate-status-mini .card-pf-title {
  margin-top: 24px;
}
/* line 132, scss/main.scss */
.project-dashboard .card-pf.card-pf-aggregate-status-mini .card-pf-title .pficon, .project-dashboard .card-pf.card-pf-aggregate-status-mini .card-pf-title .fa {
  top: 30px;
}
/* line 136, scss/main.scss */
.project-dashboard .card-pf.card-pf-aggregate-status-mini .card-pf-body {
  margin-top: 18px;
}

/* line 142, scss/main.scss */
.card-view-pf .card {
  overflow: visible;
}
/* line 145, scss/main.scss */
.card-view-pf .card-content {
  overflow: visible;
}
/* line 149, scss/main.scss */
.card-view-pf .progress {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 154, scss/main.scss */
.card-view-pf .card-title .miq-icon-label {
  padding-left: 5px;
  padding-bottom: 15px;
}
/* line 159, scss/main.scss */
.card-view-pf .card-row {
  padding: 0;
  margin: 0;
}
/* line 163, scss/main.scss */
.card-view-pf .card-row .card-view-pf {
  overflow: visible;
}
/* line 168, scss/main.scss */
.card-view-pf .card-column {
  width: 50%;
  float: left;
}
/* line 173, scss/main.scss */
.card-view-pf .status-object {
  text-align: left;
  margin: 5px 20px;
}
/* line 177, scss/main.scss */
.card-view-pf .status-object .pficon {
  font-size: 20px;
  width: 26px;
  color: #1186C1;
}
/* line 182, scss/main.scss */
.card-view-pf .status-object .status-count {
  font-size: 18px;
  color: #515151;
}
/* line 186, scss/main.scss */
.card-view-pf .status-object .status-text {
  font-size: 12px;
  color: #515151;
}
/* line 192, scss/main.scss */
.card-view-pf .miq-icon-label {
  color: #515151;
  font-size: 18px;
  white-space: nowrap;
}
/* line 197, scss/main.scss */
.card-view-pf .pficon.miq-icon-label {
  color: #1186C1;
}
/* line 201, scss/main.scss */
.card-view-pf .miq-label {
  color: #515151;
  font-size: 12px;
  white-space: nowrap;
  padding-left: 5px;
}
/* line 208, scss/main.scss */
.card-view-pf .miq-label.miq-title {
  float: left;
  color: #515151;
  font-size: 13px;
  font-weight: 700;
}
/* line 215, scss/main.scss */
.card-view-pf .miq-icon-label.miq-title {
  float: left;
  color: #515151;
  font-size: 13px;
  font-weight: 700;
}
/* line 222, scss/main.scss */
.card-view-pf .miq-label.miq-count {
  float: left;
  text-align: right;
  text-align: right;
  width: 32px;
}
/* line 229, scss/main.scss */
.card-view-pf .miq-column.usage-column .miq-title {
  text-align: right;
}
/* line 232, scss/main.scss */
.card-view-pf .cpu-usage-column {
  width: 150px;
}
/* line 234, scss/main.scss */
.card-view-pf .cpu-usage-column .miq-title {
  text-align: right;
  width: 95px;
}
/* line 239, scss/main.scss */
.card-view-pf .memory-usage-column {
  width: 180px;
}
/* line 241, scss/main.scss */
.card-view-pf .memory-usage-column .miq-title {
  text-align: right;
  width: 135px;
}

/* line 249, scss/main.scss */
.list-view-pf .miq-list-row {
  width: 100%;
}
/* line 253, scss/main.scss */
.list-view-pf .miq-row-column {
  padding-right: 5px;
}
/* line 258, scss/main.scss */
.list-view-pf .list-group-item .miq-column {
  float: left;
  padding: 5px 5px;
  margin-right: 10px;
}
/* line 264, scss/main.scss */
.list-view-pf .list-group-item .miq-object-column {
  padding-top: 1px !important;
}
/* line 266, scss/main.scss */
.list-view-pf .list-group-item .miq-object-column .miq-label {
  vertical-align: middle;
}
/* line 272, scss/main.scss */
.list-view-pf .list-group-item .miq-icon-label {
  color: #515151;
  font-size: 18px;
  vertical-align: middle;
  white-space: nowrap;
  padding-left: 5px;
}
/* line 279, scss/main.scss */
.list-view-pf .list-group-item .pficon.miq-icon-label {
  color: #1186C1;
}
/* line 283, scss/main.scss */
.list-view-pf .list-group-item .miq-label {
  color: #515151;
  font-size: 12px;
  white-space: nowrap;
  padding-left: 5px;
}
/* line 290, scss/main.scss */
.list-view-pf .list-group-item .miq-label.miq-title {
  float: left;
  color: #515151;
  font-size: 13px;
  font-weight: 700;
}
/* line 297, scss/main.scss */
.list-view-pf .list-group-item .miq-icon-label.miq-title {
  float: left;
  color: #515151;
  font-size: 13px;
  font-weight: 700;
}
/* line 304, scss/main.scss */
.list-view-pf .list-group-item .miq-label.miq-count {
  float: left;
  text-align: right;
  text-align: right;
  width: 32px;
}
/* line 311, scss/main.scss */
.list-view-pf .list-group-item .miq-column.usage-column .miq-title {
  text-align: right;
}
/* line 316, scss/main.scss */
.list-view-pf .provider-column {
  padding-top: 5px !important;
}

/* line 321, scss/main.scss */
.providers-cards .card-view-pf .card {
  height: 250px;
  width: 355px;
}

/* line 326, scss/main.scss */
.projects-cards .card-view-pf .card {
  height: 270px;
  width: 355px;
}

/* line 330, scss/main.scss */
.projects-cards .status-object.provider-object {
  text-align: center;
}

/* line 334, scss/main.scss */
.pods-cards .card-view-pf .card {
  height: 230px;
  width: 355px;
}

/* line 341, scss/main.scss */
.pods-containers-info .containers-heading {
  text-align: center;
}
/* line 343, scss/main.scss */
.pods-containers-info .containers-heading .pficon {
  color: #1186C1;
  font-size: 64px;
  padding: 10px 20px;
}
/* line 348, scss/main.scss */
.pods-containers-info .containers-heading .containers-count {
  border-left: 1px solid #d1d1d1;
  color: #515151;
  font-weight: 300;
}
/* line 353, scss/main.scss */
.pods-containers-info .containers-heading .containers-label {
  font-size: 26px;
}
/* line 357, scss/main.scss */
.pods-containers-info .containers-counter {
  font-size: 32px;
}
/* line 361, scss/main.scss */
.pods-containers-info .containers-list {
  margin-top: 10px;
  border: 1px solid #d1d1d1;
}
/* line 364, scss/main.scss */
.pods-containers-info .containers-list .toolbar-pf {
  padding-bottom: 10px;
}
/* line 367, scss/main.scss */
.pods-containers-info .containers-list .list-view-container {
  height: 264px;
}
/* line 371, scss/main.scss */
.pods-containers-info .containers-list .cpu-usage-column {
  width: 190px;
}
/* line 373, scss/main.scss */
.pods-containers-info .containers-list .cpu-usage-column .miq-title {
  text-align: right;
  width: 105px;
}
/* line 377, scss/main.scss */
.pods-containers-info .containers-list .cpu-usage-column .miq-count {
  width: 30px;
  text-align: right;
}
/* line 382, scss/main.scss */
.pods-containers-info .containers-list .memory-usage-column {
  width: 225px;
}
/* line 384, scss/main.scss */
.pods-containers-info .containers-list .memory-usage-column .miq-title {
  text-align: right;
  width: 130px;
}
/* line 388, scss/main.scss */
.pods-containers-info .containers-list .memory-usage-column .miq-count {
  width: 30px;
  text-align: right;
}

/* line 396, scss/main.scss */
.pod-metrics {
  height: 392px;
  overflow-y: auto;
}
/* line 400, scss/main.scss */
.pod-metrics .metric-row {
  padding: 10px 5px;
  margin: 0;
}
/* line 405, scss/main.scss */
.pod-metrics .metric-row:first-of-type {
  padding-top: 5px;
}
/* line 409, scss/main.scss */
.pod-metrics .metric-row:last-of-type {
  padding-bottom: 5px;
}
/* line 413, scss/main.scss */
.pod-metrics .metric-col {
  float: left;
}
/* line 417, scss/main.scss */
.pod-metrics .metric-title {
  text-align: right;
  font-weight: 700;
  float: left;
  width: 175px;
  padding: 0 5px;
}
/* line 425, scss/main.scss */
.pod-metrics .metric-value {
  float: left;
  padding: 0 5px;
}

/***** Inline chart styles which are not currently in use
.inline-card-status {
  background: transparent;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;

  .count-title {
    font-weight: 300;
    margin-top: 0;
    float: left;
    padding-left: 5px;
  }

  .inline-card-status-type-icon {
    float: left;
    width: 39px;
    height: 39px;
  }

  .inline-card-status-count {
    font-weight: 300;
    display: block;
    font-size: 24px;
    vertical-align: bottom;
    text-align: center;
    line-height: 28px;
  }
  .inline-card-status-type {
    display: block;
    vertical-align: bottom;
    text-align: center;
  }
  a {
    color: #000000;
    text-decoration: none;
  }
  a:hover {
    color: #00618a;
    text-decoration: underline;
  }
  .pficon {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -20px;
    width: 54px;
    font-size: 26px;
  }
  .indicator {
    font-size: 20px;
    .count {
      top: -2px;
      position: relative;
      padding-left: 5px;
    }
  }
  .status {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -15px;
    width: 54px;
    font-size: 20px;
  }
}

.inline-utilization-chart-title {
  font-size: 14px !important;
  font-weight: 500;
  color: #1186C1 !important;
}
****/
/* line 507, scss/main.scss */
.icon-atomic:before {
  content: "\e62d";
  color: #0088ce;
}

/*
 * Charts
 */
/* Percentage Used Chart */
/* line 6, scss/charts.scss */
.percentageUsedBarChartWrapper {
  padding-bottom: 10px;
}

/* line 10, scss/charts.scss */
.percentageUsedBarChart {
  margin-bottom: 12px;
  position: relative;
}

/* line 15, scss/charts.scss */
.percentageUsedBarChart:last-of-type {
  margin-bottom: 0;
}

/* line 19, scss/charts.scss */
.percentageUsedBar {
  position: absolute;
  top: 0;
  left: 100px;
  right: 100px;
  height: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 29, scss/charts.scss */
.percentageUsedBarFilled {
  background-color: #0088CE;
  height: 15px;
  position: relative;
  z-index: 1001;
  -webkit-transition: width .75s ease-in-out;
  -moz-transition: width .75s ease-in-out;
  -o-transition: width .75s ease-in-out;
  transition: width .75s ease-in-out;
}

/* line 40, scss/charts.scss */
.percentageUsedBarFilled.animate {
  width: 0% !important;
}

/* line 44, scss/charts.scss */
.percentageUsedBarUnused {
  background-color: #D1D1D1;
  width: 100%;
  height: 15px;
  position: relative;
  top: -15px;
  z-index: 1000;
}

/* line 53, scss/charts.scss */
.percentageUsedBarTitle {
  position: relative;
  text-align: right;
  top: 0;
  left: 0;
  float: left;
  width: 100px;
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  margin-bottom: 5px;
}

/* line 69, scss/charts.scss */
.percentageUsedBarSuffix {
  position: absolute;
  top: 0;
  right: 0;
  text-align: left;
  width: 100px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  margin-bottom: 5px;
}

/* line 83, scss/charts.scss */
.empty-info {
  color: #999;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

/* line 93, scss/charts.scss */
.utilization-chart-pf.empty-utilization-chart .available-count {
  color: transparent;
}
/* line 97, scss/charts.scss */
.utilization-chart-pf.empty-utilization-chart .empty-info {
  padding-top: 50px;
  padding-bottom: 110px;
}
/* line 101, scss/charts.scss */
.utilization-chart-pf.empty-utilization-chart .empty-info .info-text {
  font-size: 16px;
}

/* line 109, scss/charts.scss */
.empty-trends-chart .empty-info {
  padding-top: 15px;
  padding-bottom: 22px;
}
/* line 113, scss/charts.scss */
.empty-trends-chart .empty-info .info-text {
  font-size: 16px;
}

/* line 119, scss/charts.scss */
.chart-transparent-text {
  color: transparent;
}

/* line 123, scss/charts.scss */
.multi-chart-body {
  margin-top: -20px;
}
