/* line 2, scss/main.scss */
.miq-fixed-body {
  padding-top: 125px;
}
/* line 5, scss/main.scss */
.miq-fixed-body .modal {
  top: 85px;
}

/* line 11, scss/main.scss */
.miq-modal .modal-header {
  border-bottom: solid 1px #d1d1d1;
  height: 60px;
  padding-top: 19px;
}

/* line 18, scss/main.scss */
.breadcrumb {
  margin-top: -20px;
}

/* line 22, scss/main.scss */
.miq-body {
  background: #f5f5f5;
}

/* line 28, scss/main.scss */
.miq-dashboard-view .card-pf-aggregate-status .card-pf-title .pficon, .miq-dashboard-view .card-pf-aggregate-status .fa, .miq-objects-view .card-pf-aggregate-status .card-pf-title .pficon, .miq-objects-view .card-pf-aggregate-status .fa {
  color: #1186C1 !important;
}
/* line 33, scss/main.scss */
.miq-dashboard-view .list-view-pf .list-group-item.active .pficon, .miq-dashboard-view .list-view-pf .list-group-item.active:hover .pficon, .miq-dashboard-view .list-view-pf .list-group-item.active:focus .pficon, .miq-objects-view .list-view-pf .list-group-item.active .pficon, .miq-objects-view .list-view-pf .list-group-item.active:hover .pficon, .miq-objects-view .list-view-pf .list-group-item.active:focus .pficon {
  color: #1186C1;
}
/* line 36, scss/main.scss */
.miq-dashboard-view .list-view-pf .list-group-item .pficon, .miq-objects-view .list-view-pf .list-group-item .pficon {
  font-size: 18px;
}
/* line 39, scss/main.scss */
.miq-dashboard-view .card-view-pf .card.active .pficon, .miq-dashboard-view .card-view-pf .card.active:hover .pficon, .miq-dashboard-view .card-view-pf .card.active:focus .pficon, .miq-objects-view .card-view-pf .card.active .pficon, .miq-objects-view .card-view-pf .card.active:hover .pficon, .miq-objects-view .card-view-pf .card.active:focus .pficon {
  color: #1186C1;
}
/* line 43, scss/main.scss */
.miq-dashboard-view .card-pf .loading, .miq-objects-view .card-pf .loading {
  margin: 10px auto;
}
/* line 47, scss/main.scss */
.miq-dashboard-view .pficon-kubernetes::before, .miq-objects-view .pficon-kubernetes::before {
  color: #326de6;
}
/* line 51, scss/main.scss */
.miq-dashboard-view .pficon-openshift::before, .miq-objects-view .pficon-openshift::before {
  color: #da2430;
}

/* line 56, scss/main.scss */
.provider-card {
  min-height: 144px;
}
/* line 59, scss/main.scss */
.provider-card .providers {
  padding: 20px 0;
}
/* line 62, scss/main.scss */
.provider-card .providers a {
  color: #000000;
  text-decoration: none;
}
/* line 67, scss/main.scss */
.provider-card .providers a:hover {
  color: #00618a;
  text-decoration: underline;
}
/* line 71, scss/main.scss */
.provider-card .providers .count {
  margin: 0 5px;
}
/* line 75, scss/main.scss */
.provider-card .providers .provider-icon {
  font-size: 22px;
  position: relative;
  top: 5px;
  padding-right: 5px;
  opacity: .9;
}
/* line 82, scss/main.scss */
.provider-card .providers .provider-icon:hover {
  opacity: 1;
}
/* line 88, scss/main.scss */
.provider-card .provider-icon-large {
  font-size: 100px;
  position: relative;
  padding-bottom: 4px;
  width: 100%;
  text-align: center;
}

/* line 97, scss/main.scss */
.providers-status {
  padding-bottom: 9px !important;
}

/* line 101, scss/main.scss */
.aggregate-status-card-full-image {
  display: block;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 48px;
}

/* line 109, scss/main.scss */
.aggregate-status-card-title-image {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-right: 7px;
}

/* line 116, scss/main.scss */
.aggregate-status-card-notification-image {
  height: 18px;
  width: 18px;
  display: inline-block;
  margin-right: 7px;
}

/* line 123, scss/main.scss */
.product-vendor-kubernetes {
  background: url("images/vendor-kubernetes.svg") left top;
}

/* line 127, scss/main.scss */
.product-vendor-atomic-enterprise {
  background: url("images/vendor-atomic.svg") left top;
}

/* line 131, scss/main.scss */
.containers-dashboard .card-pf.card-pf-aggregate-status-mini {
  height: 60px;
}

/* line 135, scss/main.scss */
.container-providers .card-pf.card-pf-aggregate-status-mini {
  height: 63px;
}

/* line 139, scss/main.scss */
.project-dashboard .card-pf.card-pf-aggregate-status-mini {
  height: 103px;
}
/* line 141, scss/main.scss */
.project-dashboard .card-pf.card-pf-aggregate-status-mini .card-pf-title {
  margin-top: 24px;
}
/* line 144, scss/main.scss */
.project-dashboard .card-pf.card-pf-aggregate-status-mini .card-pf-title .pficon, .project-dashboard .card-pf.card-pf-aggregate-status-mini .card-pf-title .fa {
  top: 30px;
}
/* line 148, scss/main.scss */
.project-dashboard .card-pf.card-pf-aggregate-status-mini .card-pf-body {
  margin-top: 18px;
}

/* line 154, scss/main.scss */
.card-view-pf .card {
  overflow: visible;
}
/* line 157, scss/main.scss */
.card-view-pf .card-content {
  overflow: visible;
}
/* line 161, scss/main.scss */
.card-view-pf .progress {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 166, scss/main.scss */
.card-view-pf .card-title .miq-icon-label {
  padding-left: 5px;
  padding-bottom: 15px;
}
/* line 171, scss/main.scss */
.card-view-pf .card-row {
  padding: 0;
  margin: 0;
}
/* line 175, scss/main.scss */
.card-view-pf .card-row .card-view-pf {
  overflow: visible;
}
/* line 180, scss/main.scss */
.card-view-pf .card-column {
  width: 50%;
  float: left;
}
/* line 185, scss/main.scss */
.card-view-pf .status-object {
  text-align: left;
  margin: 5px 20px;
}
/* line 189, scss/main.scss */
.card-view-pf .status-object .pficon {
  font-size: 20px;
  width: 26px;
  color: #1186C1;
}
/* line 194, scss/main.scss */
.card-view-pf .status-object .status-count {
  font-size: 18px;
  color: #515151;
}
/* line 198, scss/main.scss */
.card-view-pf .status-object .status-text {
  font-size: 12px;
  color: #515151;
}
/* line 204, scss/main.scss */
.card-view-pf .miq-icon-label {
  color: #515151;
  font-size: 18px;
  white-space: nowrap;
}
/* line 209, scss/main.scss */
.card-view-pf .pficon.miq-icon-label {
  color: #1186C1;
}
/* line 213, scss/main.scss */
.card-view-pf .miq-label {
  color: #515151;
  font-size: 12px;
  white-space: nowrap;
  padding-left: 5px;
}
/* line 220, scss/main.scss */
.card-view-pf .miq-label.miq-title {
  float: left;
  color: #515151;
  font-size: 13px;
  font-weight: 700;
}
/* line 227, scss/main.scss */
.card-view-pf .miq-icon-label.miq-title {
  float: left;
  color: #515151;
  font-size: 13px;
  font-weight: 700;
}
/* line 234, scss/main.scss */
.card-view-pf .miq-label.miq-count {
  float: left;
  text-align: right;
  text-align: right;
  width: 32px;
}
/* line 241, scss/main.scss */
.card-view-pf .miq-column.usage-column .miq-title {
  text-align: right;
}
/* line 244, scss/main.scss */
.card-view-pf .cpu-usage-column {
  width: 150px;
}
/* line 246, scss/main.scss */
.card-view-pf .cpu-usage-column .miq-title {
  text-align: right;
  width: 95px;
}
/* line 251, scss/main.scss */
.card-view-pf .memory-usage-column {
  width: 180px;
}
/* line 253, scss/main.scss */
.card-view-pf .memory-usage-column .miq-title {
  text-align: right;
  width: 135px;
}

/* line 261, scss/main.scss */
.list-view-pf .miq-list-row {
  width: 100%;
}
/* line 265, scss/main.scss */
.list-view-pf .miq-row-column {
  padding-right: 5px;
}
/* line 270, scss/main.scss */
.list-view-pf .list-group-item .miq-column {
  float: left;
  padding: 5px 5px;
  margin-right: 10px;
}
/* line 276, scss/main.scss */
.list-view-pf .list-group-item .miq-object-column {
  padding-top: 1px !important;
}
/* line 278, scss/main.scss */
.list-view-pf .list-group-item .miq-object-column .miq-label {
  vertical-align: middle;
}
/* line 284, scss/main.scss */
.list-view-pf .list-group-item .miq-icon-label {
  color: #515151;
  font-size: 18px;
  vertical-align: middle;
  white-space: nowrap;
  padding-left: 5px;
}
/* line 291, scss/main.scss */
.list-view-pf .list-group-item .pficon.miq-icon-label {
  color: #1186C1;
}
/* line 295, scss/main.scss */
.list-view-pf .list-group-item .miq-label {
  color: #515151;
  font-size: 12px;
  white-space: nowrap;
  padding-left: 5px;
}
/* line 302, scss/main.scss */
.list-view-pf .list-group-item .miq-label.miq-title {
  float: left;
  color: #515151;
  font-size: 13px;
  font-weight: 700;
}
/* line 309, scss/main.scss */
.list-view-pf .list-group-item .miq-icon-label.miq-title {
  float: left;
  color: #515151;
  font-size: 13px;
  font-weight: 700;
}
/* line 316, scss/main.scss */
.list-view-pf .list-group-item .miq-label.miq-count {
  float: left;
  text-align: right;
  text-align: right;
  width: 32px;
}
/* line 323, scss/main.scss */
.list-view-pf .list-group-item .miq-column.usage-column .miq-title {
  text-align: right;
}
/* line 328, scss/main.scss */
.list-view-pf .provider-column {
  padding-top: 5px !important;
}

/* line 333, scss/main.scss */
.providers-cards .card-view-pf .card {
  height: 250px;
  width: 355px;
}

/* line 338, scss/main.scss */
.projects-cards .card-view-pf .card {
  height: 270px;
  width: 355px;
}

/* line 342, scss/main.scss */
.projects-cards .status-object.provider-object {
  text-align: center;
}

/* line 346, scss/main.scss */
.pods-cards .card-view-pf .card {
  height: 230px;
  width: 355px;
}

/* line 353, scss/main.scss */
.pods-containers-info .containers-heading {
  text-align: center;
}
/* line 355, scss/main.scss */
.pods-containers-info .containers-heading .pficon {
  color: #1186C1;
  font-size: 64px;
  padding: 10px 20px;
}
/* line 360, scss/main.scss */
.pods-containers-info .containers-heading .containers-count {
  border-left: 1px solid #d1d1d1;
  color: #515151;
  font-weight: 300;
}
/* line 365, scss/main.scss */
.pods-containers-info .containers-heading .containers-label {
  font-size: 26px;
}
/* line 369, scss/main.scss */
.pods-containers-info .containers-counter {
  font-size: 32px;
}
/* line 373, scss/main.scss */
.pods-containers-info .containers-list {
  margin-top: 10px;
  border: 1px solid #d1d1d1;
}
/* line 376, scss/main.scss */
.pods-containers-info .containers-list .toolbar-pf {
  padding-bottom: 10px;
}
/* line 379, scss/main.scss */
.pods-containers-info .containers-list .list-view-container {
  height: 264px;
}
/* line 383, scss/main.scss */
.pods-containers-info .containers-list .cpu-usage-column {
  width: 190px;
}
/* line 385, scss/main.scss */
.pods-containers-info .containers-list .cpu-usage-column .miq-title {
  text-align: right;
  width: 105px;
}
/* line 389, scss/main.scss */
.pods-containers-info .containers-list .cpu-usage-column .miq-count {
  width: 30px;
  text-align: right;
}
/* line 394, scss/main.scss */
.pods-containers-info .containers-list .memory-usage-column {
  width: 225px;
}
/* line 396, scss/main.scss */
.pods-containers-info .containers-list .memory-usage-column .miq-title {
  text-align: right;
  width: 130px;
}
/* line 400, scss/main.scss */
.pods-containers-info .containers-list .memory-usage-column .miq-count {
  width: 30px;
  text-align: right;
}

/* line 408, scss/main.scss */
.pod-metrics {
  height: 392px;
  overflow-y: auto;
}
/* line 412, scss/main.scss */
.pod-metrics .metric-row {
  padding: 10px 5px;
  margin: 0;
}
/* line 417, scss/main.scss */
.pod-metrics .metric-row:first-of-type {
  padding-top: 5px;
}
/* line 421, scss/main.scss */
.pod-metrics .metric-row:last-of-type {
  padding-bottom: 5px;
}
/* line 425, scss/main.scss */
.pod-metrics .metric-col {
  float: left;
}
/* line 429, scss/main.scss */
.pod-metrics .metric-title {
  text-align: right;
  font-weight: 700;
  float: left;
  width: 175px;
  padding: 0 5px;
}
/* line 437, scss/main.scss */
.pod-metrics .metric-value {
  float: left;
  padding: 0 5px;
}

/***** Inline chart styles which are not currently in use
.inline-card-status {
  background: transparent;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;

  .count-title {
    font-weight: 300;
    margin-top: 0;
    float: left;
    padding-left: 5px;
  }

  .inline-card-status-type-icon {
    float: left;
    width: 39px;
    height: 39px;
  }

  .inline-card-status-count {
    font-weight: 300;
    display: block;
    font-size: 24px;
    vertical-align: bottom;
    text-align: center;
    line-height: 28px;
  }
  .inline-card-status-type {
    display: block;
    vertical-align: bottom;
    text-align: center;
  }
  a {
    color: #000000;
    text-decoration: none;
  }
  a:hover {
    color: #00618a;
    text-decoration: underline;
  }
  .pficon {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -20px;
    width: 54px;
    font-size: 26px;
  }
  .indicator {
    font-size: 20px;
    .count {
      top: -2px;
      position: relative;
      padding-left: 5px;
    }
  }
  .status {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -15px;
    width: 54px;
    font-size: 20px;
  }
}

.inline-utilization-chart-title {
  font-size: 14px !important;
  font-weight: 500;
  color: #1186C1 !important;
}
****/
/* line 519, scss/main.scss */
.icon-atomic:before {
  content: "\e62d";
  color: #0088ce;
}

/*
 * Charts
 */
/* Percentage Used Chart */
/* line 6, scss/charts.scss */
.percentageUsedBarChartWrapper {
  padding-bottom: 10px;
}

/* line 10, scss/charts.scss */
.percentageUsedBarChart {
  margin-bottom: 12px;
  position: relative;
}

/* line 15, scss/charts.scss */
.percentageUsedBarChart:last-of-type {
  margin-bottom: 0;
}

/* line 19, scss/charts.scss */
.percentageUsedBar {
  position: absolute;
  top: 0;
  left: 100px;
  right: 100px;
  height: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 29, scss/charts.scss */
.percentageUsedBarFilled {
  background-color: #0088CE;
  height: 15px;
  position: relative;
  z-index: 1001;
  -webkit-transition: width .75s ease-in-out;
  -moz-transition: width .75s ease-in-out;
  -o-transition: width .75s ease-in-out;
  transition: width .75s ease-in-out;
}

/* line 40, scss/charts.scss */
.percentageUsedBarFilled.animate {
  width: 0% !important;
}

/* line 44, scss/charts.scss */
.percentageUsedBarUnused {
  background-color: #D1D1D1;
  width: 100%;
  height: 15px;
  position: relative;
  top: -15px;
  z-index: 1000;
}

/* line 53, scss/charts.scss */
.percentageUsedBarTitle {
  position: relative;
  text-align: right;
  top: 0;
  left: 0;
  float: left;
  width: 100px;
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  margin-bottom: 5px;
}

/* line 69, scss/charts.scss */
.percentageUsedBarSuffix {
  position: absolute;
  top: 0;
  right: 0;
  text-align: left;
  width: 100px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  margin-bottom: 5px;
}

/* line 83, scss/charts.scss */
.empty-info {
  color: #999;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

/* line 93, scss/charts.scss */
.utilization-chart-pf.empty-utilization-chart .available-count {
  color: transparent;
}
/* line 97, scss/charts.scss */
.utilization-chart-pf.empty-utilization-chart .empty-info {
  padding-top: 50px;
  padding-bottom: 110px;
}
/* line 101, scss/charts.scss */
.utilization-chart-pf.empty-utilization-chart .empty-info .info-text {
  font-size: 16px;
}

/* line 109, scss/charts.scss */
.empty-trends-chart .empty-info {
  padding-top: 15px;
  padding-bottom: 22px;
}
/* line 113, scss/charts.scss */
.empty-trends-chart .empty-info .info-text {
  font-size: 16px;
}

/* line 119, scss/charts.scss */
.chart-transparent-text {
  color: transparent;
}

/* line 123, scss/charts.scss */
.multi-chart-body {
  margin-top: -20px;
}

/* line 20, scss/wizard.scss */
.wizard-miq .modal-body {
  padding: 0;
}

/* line 25, scss/wizard.scss */
.wizard-miq-body {
  display: inline-block;
  width: 100%;
}

/* line 32, scss/wizard.scss */
.wizard-miq-step {
  border-top: solid 1px #d1d1d1;
  margin-top: 15px;
}

/* line 37, scss/wizard.scss */
.wizard-miq-substep-nav {
  background: #fafafa;
  border-right: 1px solid #d0d0d0;
  bottom: 0;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0px;
  position: relative;
  top: 0;
  width: 250px;
}
/* line 49, scss/wizard.scss */
.wizard-miq-substep-nav .list-group {
  border-top: 0;
  margin-bottom: 0;
}
/* line 52, scss/wizard.scss */
.wizard-miq-substep-nav .list-group > .list-group-item {
  background-color: transparent;
  border-color: #ededed;
  padding: 0;
}
/* line 57, scss/wizard.scss */
.wizard-miq-substep-nav .list-group > .list-group-item > a {
  background-color: transparent;
  color: #030303;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 700;
  height: 50px;
  outline: 0;
  padding-top: 14px;
  padding-left: 20px;
  position: relative;
  white-space: nowrap;
  width: 250px;
}
/* line 72, scss/wizard.scss */
.wizard-miq-substep-nav .list-group > .list-group-item > a .wizard-miq-substep-number {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  width: 25px;
}
/* line 78, scss/wizard.scss */
.wizard-miq-substep-nav .list-group > .list-group-item > a .wizard-miq-substep-title {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  text-align: left;
}
/* line 84, scss/wizard.scss */
.wizard-miq-substep-nav .list-group > .list-group-item > a:hover {
  text-decoration: none;
}
/* line 89, scss/wizard.scss */
.wizard-miq-substep-nav .list-group > .list-group-item.active > a {
  color: #199dde;
  cursor: default;
}
/* line 94, scss/wizard.scss */
.wizard-miq-substep-nav .list-group > .list-group-item.active > a:before {
  background: #199dde;
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}
/* line 103, scss/wizard.scss */
.wizard-miq-substep-nav .list-group > .list-group-item.active > a:after {
  color: #199dde;
  content: "\f105";
  display: block;
  font-family: FontAwesome;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  padding-top: 10px;
  position: absolute;
  right: 23px;
  top: 0;
}
/* line 119, scss/wizard.scss */
.wizard-miq-substep-nav .list-group > .list-group-item :hover > a {
  background-color: #393f44;
  color: #fff;
  font-weight: 600;
}

/* line 129, scss/wizard.scss */
.wizard-miq-step-content {
  padding: 20px 20px 0 20px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  top: 0;
  right: 0;
}
/* line 138, scss/wizard.scss */
.wizard-miq-step-content .blank-slate-pf {
  background-color: transparent;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
}

/* line 148, scss/wizard.scss */
.wizard-miq-steps-indicator {
  background-color: #ffffff;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 38px 0 0 0;
  height: 115px;
  list-style: none;
}
/* line 158, scss/wizard.scss */
.wizard-miq-steps-indicator.invisible {
  visibility: hidden;
}
/* line 162, scss/wizard.scss */
.wizard-miq-steps-indicator:before {
  background-color: #d1d1d1;
  content: '';
  position: absolute;
  left: 15px;
  right: 15px;
  top: 76px;
  height: 2px;
}
/* line 172, scss/wizard.scss */
.wizard-miq-steps-indicator * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 179, scss/wizard.scss */
.wizard-miq-steps-indicator li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 15px;
  counter-increment: section;
}
/* line 188, scss/wizard.scss */
.wizard-miq-steps-indicator li a {
  color: #030303;
  text-decoration: none;
  font-size: 16px;
  transition: 0.25s;
  cursor: pointer;
}
/* line 195, scss/wizard.scss */
.wizard-miq-steps-indicator li a:before {
  position: absolute;
  top: 27px;
  left: calc(50% - 13px);
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: solid 2px #d1d1d1;
  background-color: #ffffff;
  color: #030303;
  content: counter(section);
  transition: 0.25s;
}
/* line 213, scss/wizard.scss */
.wizard-miq-steps-indicator li a:hover:before {
  border-color: #39a5dc;
}
/* line 221, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-2:before {
  left: calc(100% / 2 / 2);
  right: calc(100% / 2 / 2);
}
/* line 225, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-2 li {
  width: calc(100% / 2);
}
/* line 231, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-3:before {
  left: calc(100% / 3 /  2);
  right: calc(100% / 3 / 2);
}
/* line 235, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-3 li {
  width: calc(100% / 3);
}
/* line 241, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-4:before {
  left: calc(100% / 4 / 2);
  right: calc(100% / 4 / 2);
}
/* line 245, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-4 li {
  width: calc(100% / 4);
}
/* line 251, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-5:before {
  left: calc(100% / 5 / 2);
  right: calc(100% / 5 / 2);
}
/* line 255, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-5 li {
  width: calc(100% / 5);
}
/* line 261, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-6:before {
  left: calc(100% / 6 / 2);
  right: calc(100% / 6 / 2);
}
/* line 265, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-6 li {
  width: calc(100% / 6);
}
/* line 271, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-7:before {
  left: calc(100% / 7 / 2);
  right: calc(100% / 7 / 2);
}
/* line 275, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-7 li {
  width: calc(100% / 7);
}
/* line 281, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-8:before {
  left: calc(100% / 8 / 2);
  right: calc(100% / 8 / 2);
}
/* line 285, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-8 li {
  width: calc(100% / 8);
}
/* line 291, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-9:before {
  left: calc(100% / 9 / 2);
  right: calc(100% / 9 / 2);
}
/* line 295, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-9 li {
  width: calc(100% / 9);
}
/* line 301, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-10:before {
  left: calc(100% / 10 / 2);
  right: calc(100% / 10 / 2);
}
/* line 305, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-10 li {
  width: calc(100% / 10);
}
/* line 311, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-11:before {
  left: calc(100% / 11 / 2);
  right: calc(100% / 11 / 2);
}
/* line 315, scss/wizard.scss */
.wizard-miq-steps-indicator.wizard-miq-steps-11 li {
  width: calc(100% / 11);
}
/* line 320, scss/wizard.scss */
.wizard-miq-steps-indicator li.current a {
  cursor: default;
}
/* line 322, scss/wizard.scss */
.wizard-miq-steps-indicator li.current a:before {
  background-color: #39a5dc;
  border-color: #39a5dc;
  color: #fafafa;
}
/* line 330, scss/wizard.scss */
.wizard-miq-steps-indicator li.done a:before {
  background-color: #ffffff;
  border-color: #d1d1d1;
  color: #030303;
}
/* line 336, scss/wizard.scss */
.wizard-miq-steps-indicator li.done a:hover:before {
  border-color: #39a5dc;
}
/* line 342, scss/wizard.scss */
.wizard-miq-steps-indicator li.editing a {
  cursor: default;
}
/* line 344, scss/wizard.scss */
.wizard-miq-steps-indicator li.editing a:before {
  background-color: #39a5dc;
  border-color: #39a5dc;
  color: #fafafa;
}

/* line 352, scss/wizard.scss */
.wizard-miq-review-steps {
  list-style: none;
}
/* line 355, scss/wizard.scss */
.wizard-miq-review-steps .list-group, .wizard-miq-review-steps .list-group-item {
  border: none;
  margin-bottom: 0;
}
/* line 361, scss/wizard.scss */
.wizard-miq-review-steps > ul > li {
  position: relative;
  float: left;
  margin: 0;
  line-height: 15px;
  width: 100%;
}
/* line 368, scss/wizard.scss */
.wizard-miq-review-steps > ul > li > a {
  color: #030303;
  text-decoration: none;
  font-size: 16px;
  transition: 0.25s;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 5px;
}
/* line 377, scss/wizard.scss */
.wizard-miq-review-steps > ul > li > a:before {
  content: "\f107";
  display: block;
  font-family: FontAwesome;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 20px;
}
/* line 388, scss/wizard.scss */
.wizard-miq-review-steps > ul > li > a.collapsed:before {
  content: "\f105";
}
/* line 394, scss/wizard.scss */
.wizard-miq-review-steps > ul > li .checkbox {
  line-height: 20px;
  pointer-events: none;
}

/* line 402, scss/wizard.scss */
.wizard-miq-review-substeps {
  padding-left: 22px;
}
/* line 405, scss/wizard.scss */
.wizard-miq-review-substeps > ul > li {
  position: relative;
  float: left;
  margin: 0;
  line-height: 15px;
  width: 100%;
}
/* line 412, scss/wizard.scss */
.wizard-miq-review-substeps > ul > li a {
  color: #030303;
  text-decoration: none;
  font-size: 16px;
  transition: 0.25s;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 5px;
}
/* line 421, scss/wizard.scss */
.wizard-miq-review-substeps > ul > li a:before {
  content: "\f107";
  display: block;
  font-family: FontAwesome;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 20px;
}
/* line 432, scss/wizard.scss */
.wizard-miq-review-substeps > ul > li a.collapsed:before {
  content: "\f105";
}

/* line 441, scss/wizard.scss */
.wizard-miq-review-content {
  padding-top: 10px;
  padding-left: 40px;
}
/* line 445, scss/wizard.scss */
.wizard-miq-review-content .miq-form-heading {
  padding-top: 10px;
}
/* line 448, scss/wizard.scss */
.wizard-miq-review-content .miq-form-heading:first-of-type {
  padding-top: 0;
}
/* line 452, scss/wizard.scss */
.wizard-miq-review-content .wizard-miq-review-item {
  padding: 5px 0;
}
/* line 454, scss/wizard.scss */
.wizard-miq-review-content .wizard-miq-review-item .wizard-miq-review-item-label {
  font-weight: 700;
  padding-right: 10px;
}
/* line 460, scss/wizard.scss */
.wizard-miq-review-content .wizard-miq-review-item .wizard-miq-review-item-subvalue {
  padding-left: 20px;
}
/* line 463, scss/wizard.scss */
.wizard-miq-review-content .wizard-miq-review-item .wizard-miq-review-table {
  padding-top: 10px;
  padding-right: 20px;
  width: 250px;
}
/* line 469, scss/wizard.scss */
.wizard-miq-review-content .wizard-miq-review-subform {
  padding-left: 15px;
}

/* line 474, scss/wizard.scss */
.wizard-miq-footer {
  padding-bottom: 17px;
  background-color: #f8f8f8;
}

/* line 478, scss/wizard.scss */
.wizard-miq-btn-container {
  border-top: solid 1px #d1d1d1;
  float: right;
  width: 100%;
  height: 60px;
  padding: 15px;
  margin-top: 0;
}
/* line 486, scss/wizard.scss */
.wizard-miq-btn-container .tooltip-wrapper {
  border: none;
  box-shadow: none;
  display: inline-block;
  margin-left: 5px;
  padding: 0;
  text-align: center;
}
/* line 494, scss/wizard.scss */
.wizard-miq-btn-container .tooltip-wrapper .btn[disabled] {
  pointer-events: none;
}

/* line 501, scss/wizard.scss */
.miq-deploy-provider-wizard .sub-group {
  margin-left: 0;
  margin-top: 10px;
}
/* line 505, scss/wizard.scss */
.miq-deploy-provider-wizard .sub-group > a {
  margin-left: 10px;
  cursor: pointer;
}
/* line 512, scss/wizard.scss */
.miq-deploy-provider-wizard a.disabled {
  pointer-events: none;
  cursor: default;
  color: #E6E6E6;
}
/* line 519, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-page-heading {
  font-weight: 700;
  padding-bottom: 10px;
}
/* line 524, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-form-heading {
  font-weight: 700;
  padding-bottom: 10px;
}
/* line 529, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-form-no-label {
  margin-left: 95px;
  padding-left: 10px;
}
/* line 534, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-input-label-class {
  width: 95px;
  padding-right: 10px;
  padding-left: 20px;
  float: left;
}
/* line 540, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-input-label-class.miq-input-label-class-lg {
  width: 150px;
}
/* line 544, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-input-label-class.miq-input-label-class-xlg {
  width: 175px;
}
/* line 549, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-input-no-label-class {
  padding-right: 10px;
  padding-left: 20px;
  float: left;
  width: 0;
}
/* line 556, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-radio-form, .miq-deploy-provider-wizard .miq-checkbox-form {
  padding-left: 20px;
}
/* line 560, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-input-checkbox-form {
  padding-left: 55px;
  padding-bottom: 10px;
}
/* line 563, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-input-checkbox-form .miq-checkbox-input-label {
  padding-right: 20px;
}
/* line 565, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-input-checkbox-form .miq-checkbox-input-label input {
  margin-right: 20px;
  position: static;
}
/* line 569, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-input-checkbox-form .miq-checkbox-input-label.miq-checkbox-input-label-lg {
  padding-left: 55px;
}
/* line 573, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-input-checkbox-form .miq-input-label-class {
  width: 130px;
  padding-left: 15px;
  padding-top: 3px;
  text-align: left;
  vertical-align: middle;
}
/* line 581, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-input-class {
  width: 200px;
  padding: 0 20px 0 10px;
  float: left;
}
/* line 587, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-radio-input-class {
  width: 200px;
  padding: 0 20px 0 30px;
  float: left;
}
/* line 593, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-touchspin-input-class {
  width: 110px;
  padding: 0 20px 0 10px;
  float: left;
}
/* line 598, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-touchspin-input-class .form-control {
  height: 24px;
}
/* line 601, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-touchspin-input-class .btn {
  padding-bottom: 1px;
}
/* line 604, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-touchspin-input-class .form-control[readonly] {
  background-color: #fff;
}
/* line 609, scss/wizard.scss */
.miq-deploy-provider-wizard .form-horizontal > .radio {
  margin-left: 20px;
}
/* line 613, scss/wizard.scss */
.miq-deploy-provider-wizard .nodes-table-container {
  border: solid 1px #d1d1d1;
}
/* line 617, scss/wizard.scss */
.miq-deploy-provider-wizard .nodes-table-container .toolbar-pf > .col-sm-12 {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 621, scss/wizard.scss */
.miq-deploy-provider-wizard .nodes-table-container .toolbar-pf .toolbar-pf-filter {
  padding-right: 10px;
  width: 225px;
}
/* line 625, scss/wizard.scss */
.miq-deploy-provider-wizard .nodes-table-container .toolbar-pf .toolbar-pf-results {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 630, scss/wizard.scss */
.add-nodes-table .miq-deploy-provider-wizard .nodes-table-container .toolbar-pf .toolbar-pf-actions {
  padding-bottom: 10px;
}
/* line 633, scss/wizard.scss */
.miq-deploy-provider-wizard .nodes-table-container .toolbar-pf .toolbar-pf-actions > .form-group {
  border-right: none;
  float: right;
  padding-right: 0px;
}
/* line 638, scss/wizard.scss */
.miq-deploy-provider-wizard .nodes-table-container .toolbar-pf .toolbar-pf-actions .dropdown-kebab-pf .dropdown-menu {
  left: auto;
  right: -15px;
}
/* line 642, scss/wizard.scss */
.miq-deploy-provider-wizard .nodes-table-container .toolbar-pf .toolbar-pf-actions .dropdown-kebab-pf .dropdown-menu:before, .miq-deploy-provider-wizard .nodes-table-container .toolbar-pf .toolbar-pf-actions .dropdown-kebab-pf .dropdown-menu:after {
  left: auto;
  right: 6px;
}
/* line 648, scss/wizard.scss */
.miq-deploy-provider-wizard .nodes-table-container .toolbar-pf .sort-pf > form > .form-group {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 654, scss/wizard.scss */
.miq-deploy-provider-wizard .nodes-table-container.add-nodes-table .checkbox-col {
  padding-left: 6px;
  padding-right: 6px;
  width: 20px;
}
/* line 659, scss/wizard.scss */
.miq-deploy-provider-wizard .nodes-table-container.add-nodes-table .toolbar-pf-actions {
  padding-bottom: 10px;
}
/* line 664, scss/wizard.scss */
.miq-deploy-provider-wizard .nodes-table-container .table-responsive {
  max-height: 265px;
  min-height: 265px;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 671, scss/wizard.scss */
.miq-deploy-provider-wizard .nodes-table-container.add-nodes-table .table-responsive {
  max-height: 190px;
  min-height: 190px;
}
/* line 676, scss/wizard.scss */
.miq-deploy-provider-wizard .nodes-table-container .table {
  border: none;
  width: calc(100% + 3px);
  margin-left: -1px;
}
/* line 683, scss/wizard.scss */
.miq-deploy-provider-wizard .nodes-table-container .table-footer {
  background-color: #fafafa;
  width: 100%;
  height: 28px;
  padding-top: 5px;
}
/* line 689, scss/wizard.scss */
.miq-deploy-provider-wizard .nodes-table-container .table-footer .badge {
  background: transparent;
  color: #030303;
  font-size: 12px;
  font-weight: 700;
  float: left;
  line-height: 1.66666667;
  margin: 0;
  padding: 0 7px;
  text-align: center;
}
/* line 702, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-add-dialog-text {
  font-weight: 700;
  padding: 15px;
}
/* line 706, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-add-dialog-input {
  padding: 0 15px;
  width: 100%;
}
/* line 709, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-add-dialog-input > input {
  width: 100%;
}
/* line 714, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-review-label-class {
  padding-right: 10px;
  float: left;
}
/* line 719, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-review-edit-item {
  line-height: 20px;
  margin-bottom: 15px;
}
/* line 723, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-review-edit-field {
  cursor: pointer;
  float: left;
  padding-right: 20px;
  position: relative;
}
/* line 728, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-review-edit-field:after {
  content: "\e60a";
  font-family: 'PatternFlyIcons-webfont';
  position: absolute;
  right: 0;
}
/* line 735, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-review-edit-text {
  margin-right: 20px;
  margin-top: 5px;
  resize: none;
  width: 100%;
}
/* line 741, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-review-button-panel {
  float: right;
  width: 100%;
  padding: 10px 0;
  margin-top: 0;
}
/* line 748, scss/wizard.scss */
.miq-deploy-provider-wizard .miq-wizard-review-list li {
  margin: 5px 0;
}

/* line 755, scss/wizard.scss */
.miq-wizard-page-wait-dialog .modal-dialog {
  margin-top: 240px;
}

/* line 759, scss/wizard.scss */
.miq-wait-dialog-content {
  padding: 15px;
}
/* line 762, scss/wizard.scss */
.miq-wait-dialog-content .miq-wait-dialog-text {
  padding-top: 10px;
  text-align: center;
  width: 100%;
}
