.card-pf-status .card-pf-title {
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
.card-pf-status .card-pf-title .card-pf-status-count {
  display: block;
  font-size: 22px;
  vertical-align: bottom;
  text-align: center;
  line-height: 28px;
}
.card-pf-status span {
  color: #000000;
  text-decoration: none;
  font-weight: 300;
}
.card-pf-status a:hover {
  color: #00618a;
  text-decoration: underline;
}
.card-pf-status .pficon {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -20px;
  width: 54px;
  font-size: 26px;
}
.card-pf-status .indicator {
  font-size: 20px;
}
.card-pf-status .indicator .count {
  top: -2px;
  position: relative;
  padding-left: 5px;
}
.card-pf-status .status {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -15px;
  width: 54px;
  font-size: 22px;
}

.card-heatmap-body {
  padding: 0;
}

.heatmap-card .heatmap-container {
  padding-top: 10px;
  width: 100%;
}

