<div class="quota-chart">
    <div class="flex-vertical-container">
        <div class="quota-chart-title flex-horizontal-container">
            <span>{{title}}</span>
            <div class="flex-one"></div>
            <span>{{usedUnits}} of {{totalUnits}}</span>
        </div>
        <div class="quota-chart-bar flex-horizontal-container">
            <div class="quota-chart-used" style="width:{{usedPercent}}%"></div>
            <div class="quota-chart-unused flex-one"></div>
        </div>
    </div>
</div>
