.data-list-pf {
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 1px;
}
.data-list-pf .list-row {
  margin-right: 0px;
  position: relative;
  padding-right: 0px;
  width: 100%;
}
.data-list-pf .list-content {
  left: 15px;
  position: relative;
}
.data-list-pf .list-content.with-check-box {
  border-left: solid 2px #d2d2d2;
  left: 30px;
  margin-left: 10px;
}
.data-list-pf .list-content.with-menu {
  margin-right: 30px;
  right: 15px;
}
.data-list-pf .list-check-box {
  bottom: 0px;
  left: 20px;
  position: absolute;
  top: 0px;
  width: 20px;
}
.data-list-pf .data-list-loading {
  background: rgba(0, 0, 0, 0.05);
}
.data-list-pf .list-group-item:first-of-type {
  margin-top: 0;
}
.data-list-pf .list-group-item .list-column {
  float: left;
  padding: 5px 0px;
}
.data-list-pf .list-group-item .pficon {
  -webkit-align-items: center;
  align-items: center;
  color: #1186C1;
  font-size: 26px;
  width: 26px;
}

.data-list-pf .list-group-item.active,
.data-list-pf .list-group-item.active:hover,
.data-list-pf .list-group-item.active:focus {
  background-color: #def3ff;
  border-color: #def3ff;
  color: #000000;
}

.data-list-pf .list-group-item:hover,
.data-list-pf .list-group-item:focus {
  background-color: #ededed;
  border-color: #ededed;
}

.list-group-item.active .pficon,
.list-group-item.active:hover .pficon,
.list-group-item.active:focus .pficon {
  color: #ffffff;
}
.data-list-pf .row-column {
  padding-right: 5px;
}

.card-pf-aggregate-status-alt .card-pf-body {
  padding-bottom: 20px;
}

.card-pf-aggregate-status-alt .card-pf-title {
  line-height: 22px;
  margin: 20px 0 10px 0;
  font-weight: 300;
}

.card-pf-aggregate-status-alt .card-pf-aggregate-status-count {
  font-size: 24px;
}

.card-pf-aggregate-status-alt .card-pf-aggregate-status-title {
  display: block;
  font-size: 12px;
}

.card-pf-aggregate-status-alt .card-pf-aggregate-status-notifications .card-pf-aggregate-status-notification {
  border-left: none;
}

.card-pf-aggregate-status-alt .card-pf-aggregate-status-notifications .fa, .card-pf-aggregate-status-alt .card-pf-aggregate-status-notifications .pficon {
  position: relative;
  top: -1px;
}
