<div class="tile-pf tile-pf-accented tile-pf-status tile-pf-providers">
    <h2 class="tile-pf-title" ng-if="providers.count > 1">
        <span class="tile-pf-status-count">{{providers.count}}</span>
        <span class="tile-pf-status-type">{{providers.name}}</span>
        <div class="indicator providers">
            <span ng-repeat="provider in providers.providers">
                <a class="count" href="#containers/providers/{{provider.id}}"><i class="provider-icon {{provider.iconClass}}"/>{{ provider.count }}</a>
            </span>
        </div>
    </h2>
    <h2 class="tile-pf-title" ng-if="providers.count == 0">
        No Providers
    </h2>
    <h2 class="tile-pf-title" ng-if="providers.count == 1">
        <i class="provider-icon provider-icon-large {{providers.providers[0].iconClass}}"/>
    </h2>
</div>