<div class="dropdown pull-right dropdown-kebab-pf">
  <button class="btn btn-link dropdown-toggle" type="button" ng-click="customScope.clearNotification(notification, notificationGroup)">
    <span class="pficon pficon-close"></span>
  </button>
</div>
<span ng-if="notification.status" class="{{'pull-left ' + customScope.getNotficationStatusIconClass(notification)}}" ng-click="customScope.markRead(notification, notificationGroup)"></span>
<span class="drawer-pf-notification-message miq-notification-message"
      ng-click="customScope.markRead(notification, notificationGroup)"
      tooltip-popup-delay="500" tooltip-placement="bottom" tooltip="{{notification.message}}">
  {{notification.message}}
</span>
<div class="drawer-pf-notification-info" ng-click="customScope.markRead(notification, notificationGroup)">
  <span class="date">{{notification.timeStamp | date:'MM/dd/yyyy'}}</span>
  <span class="time">{{notification.timeStamp | date:'h:mm:ss a'}}</span>
</div>
