<div pf-card head-title="Utilization Per Node" hidetopborder="true">
    <div class="card-border-body">
        <div class="row combination-card-body">
            <div class="col-xs-12 col-sm-12 col-md-12 usage-heatmap-body">
                <div>
                    <div class="col-xs-8 col-sm-6 col-md-6 container-heatmap-tile">
                        <span class="card-pf-secondary-title">CPU</span>
                        <div id="nodeCpuUsage" style="width:100%; height:{{vm.dashboardHeatmapChartHeight}};">
                            <div cfme-heat-map data="vm.nodeCpuUsage" parentid="nodeCpuUsage"
                                 ng-if="vm.nodeCpuUsageLoadingDone"></div>
                        </div>
                        <div ng-if="!vm.nodeCpuUsageLoadingDone" class="spinner spinner-lg loading"></div>
                    </div>
                    <div class="col-xs-8 col-sm-6 col-md-6 container-heatmap-tile">
                        <span class="card-pf-secondary-title">Memory</span>
                        <div id="nodeMemoryUsage" style="width:100%; height:{{vm.dashboardHeatmapChartHeight}};">
                            <div cfme-heat-map data="vm.nodeMemoryUsage" parentid="nodeMemoryUsage"
                                 ng-if="vm.nodeMemoryUsageLoadingDone"></div>
                        </div>
                        <div ng-if="!vm.nodeMemoryUsageLoadingDone" class="spinner spinner-lg loading"></div>
                    </div>
                </div>
                <div class="col-xs-16 col-sm-8 col-md-8">
                    <div cfme-heat-map-legend legend="vm.nodeHeatMapUsageLegendLabels" style="padding-bottom: 0px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>