
.pf-fixed-body {
  padding-top: 125px;
}

.breadcrumb {
  margin-top: -20px;
}

.miq-body {
  background: #f5f5f5;
}

.card-pf .loading {
  margin: 10px auto;
}

.card-pf-providers {
  min-height: 144px;

  .providers {
    padding: 20px 0;

    & a {
      color: #000000;
      text-decoration: none;
    }

    & a:hover {
      color: #00618a;
      text-decoration: underline;
    }
    .count {
      margin: 0 5px;
    }

    .provider-icon {
      font-size: 22px;
      position: relative;
      top: 5px;
      padding-right: 5px;
      opacity: .9;

      &:hover {
        opacity: 1;
      }
    }
  }

  .provider-icon-large {
    font-size: 100px;
    position: relative;
    padding-bottom: 4px;
    width: 100%;
    text-align: center;
  }
}

.providers-status {
  padding-bottom: 9px !important; }

.pf-obj-status-large {
  .card-pf-title {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.pficon-kubernetes::before {
  color: #326de6;
}

.pficon-openshift::before {
  color: #da2430;
}

.containers-dashboard .card-pf.card-pf-aggregate-status-mini {
  height: 60px;
}

.container-providers .card-pf.card-pf-aggregate-status-mini {
  height: 63px;
}

.project-dashboard .card-pf.card-pf-aggregate-status-mini {
  height: 103px;
  .card-pf-title {
    margin-top: 24px;

    .pficon, .fa {
      top: 30px;

    }
  }
}

.tiles-view-pf {
  .tile {
    overflow: hidden;
  }
  .tile-content {
    overflow: hidden;
  }

  .tile-title .miq-icon-label {
    padding-left: 5px;
    padding-bottom: 15px;
  }

  .tile-row {
    padding: 0;
    margin: 0;
  }

  .tile-column {
    width: 50%;
    float: left;
  }

  .status-object {
    text-align: left;
    margin: 5px 20px;

    .pficon {
      font-size: 20px;
      width: 26px;
      color: #1186C1;
    }
    .status-count {
      font-size: 18px;
      color: #515151;
    }
    .status-text {
      font-size: 12px;
      color: #515151;
    }
  }

  .miq-icon-label {
    color: #515151;
    font-size: 18px;
    white-space: nowrap;
  }
  .pficon.miq-icon-label {
    color: #1186C1;
  }

  .miq-label {
    color: #515151;
    font-size: 12px;
    white-space: nowrap;
    padding-left: 5px;
  }

  .miq-label.miq-title {
    float: left;
    color: #515151;
    font-size: 13px;
    font-weight: 700;
  }

  .miq-icon-label.miq-title {
    float: left;
    color: #515151;
    font-size: 13px;
    font-weight: 700;
  }

  .miq-label.miq-count {
    float: left;
    text-align: right;
    text-align: right;
    width: 32px;
  }

  .miq-column.usage-column .miq-title {
    text-align: right;
  }
  .cpu-usage-column {
    width: 150px;
    .miq-title {
      text-align: right;
      width: 95px;
    }
  }
  .memory-usage-column {
    width: 180px;
    .miq-title {
      text-align: right;
      width: 135px;
    }
  }
}

.data-list-pf {

  .miq-row-column {
    padding-right: 5px;
  }

  .list-group-item {
    .miq-column {
      float: left;
      padding: 5px 5px;

    }
    .miq-object-column {
      padding-top: 1px !important;
      .miq-label {
        vertical-align: middle;
      }

    }

    .miq-icon-label {
      color: #515151;
      font-size: 18px;
      vertical-align: middle;
      white-space: nowrap;
      padding-left: 5px;
    }
    .pficon.miq-icon-label {
      color: #1186C1;
    }

    .miq-label {
      color: #515151;
      font-size: 12px;
      white-space: nowrap;
      padding-left: 5px;
    }

    .miq-label.miq-title {
      float: left;
      color: #515151;
      font-size: 13px;
      font-weight: 700;
    }

    .miq-icon-label.miq-title {
      float: left;
      color: #515151;
      font-size: 13px;
      font-weight: 700;
    }

    .miq-label.miq-count {
      float: left;
      text-align: right;
      text-align: right;
      width: 32px;
    }

    .miq-column.usage-column .miq-title {
      text-align: right;
    }
  }

  .provider-column {
    padding-top: 5px !important;
  }
}

.providers-tiles .tiles-view-pf .tile {
  height: 240px;
  width: 355px;
}

.projects-tiles .tiles-view-pf .tile {
  height: 230px;
  width: 355px;
}
.projects-tiles .status-object.provider-object {
  text-align: center;
}

.project-dashboard .card-pf-status .card-pf-title {
  padding: 30px 0;
}

.pods-tiles .tiles-view-pf .tile {
  height: 230px;
  width: 355px;
}

.pods-containers-info {

  .containers-heading {
    text-align: center;
    .pficon {
      color: #1186C1;
      font-size: 64px;
      padding: 10px 20px;
    }
    .containers-count {
      border-left: 1px solid #d1d1d1;
      color: #515151;
      font-weight: 300;
    }
    .containers-label {
      font-size: 26px;
    }
  }
  .containers-counter {
    font-size: 32px;
  }

  .containers-list {
    margin-top: 10px;
    border: 1px solid #d1d1d1;
    .toolbar-pf {
      padding-bottom: 10px;
    }
    .list-view-container {
      height: 264px;
    }

    .cpu-usage-column {
      width: 190px;
      .miq-title {
        text-align: right;
        width: 105px;
      }
      .miq-count {
        width: 30px;
        text-align: right;
      }
    }
    .memory-usage-column {
      width: 225px;
      .miq-title {
        text-align: right;
        width: 130px;
      }
      .miq-count {
        width: 30px;
        text-align: right;
      }
    }
  }
}

.pod-metrics {
  height: 392px;
  overflow-y: auto;

  .metric-row {
    padding: 10px 5px;
    margin: 0;
  }

  .metric-row:first-of-type {
    padding-top: 5px;
  }

  .metric-row:last-of-type {
    padding-bottom: 5px;
  }

  .metric-col {
    float: left;
  }

  .metric-title {
    text-align: right;
    font-weight: 700;
    float: left;
    width: 175px;
    padding: 0 5px;

  }
  .metric-value {
    float: left;
    padding: 0 5px;
  }
}

/***** Inline chart styles which are not currently in use
.inline-card-status {
  background: transparent;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;

  .count-title {
    font-weight: 300;
    margin-top: 0;
    float: left;
    padding-left: 5px;
  }

  .inline-card-status-type-icon {
    float: left;
    width: 39px;
    height: 39px;
  }

  .inline-card-status-count {
    font-weight: 300;
    display: block;
    font-size: 24px;
    vertical-align: bottom;
    text-align: center;
    line-height: 28px;
  }
  .inline-card-status-type {
    display: block;
    vertical-align: bottom;
    text-align: center;
  }
  a {
    color: #000000;
    text-decoration: none;
  }
  a:hover {
    color: #00618a;
    text-decoration: underline;
  }
  .pficon {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -20px;
    width: 54px;
    font-size: 26px;
  }
  .indicator {
    font-size: 20px;
    .count {
      top: -2px;
      position: relative;
      padding-left: 5px;
    }
  }
  .status {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -15px;
    width: 54px;
    font-size: 20px;
  }
}

.inline-utilization-chart-title {
  font-size: 14px !important;
  font-weight: 500;
  color: #1186C1 !important;
}
****/
