$wz-default-bg-color: #ffffff;
$wz-default-color: #030303;
$wz-default-border-color: #bbbbbb;

$wz-current-bg-color: #39a5dc;
$wz-current-text-color: #39a5dc;
$wz-current-color: #fafafa;
$wz-current-border-color: #39a5dc;

$wz-done-bg-color: #ffffff;
$wz-done-color: #030303;
$wz-done-border-color: #39a5dc;

$wz-editing-bg-color: #39a5dc;
$wz-editing-color: #fafafa;
$wz-editing-border-color: #39a5dc;

$wz-substep-nav-width: 200px;

.wizard-miq {
  .modal-body {
    padding: 0;
  }
}

.wizard-miq-body {
  display: inline-block;
  width: 100%;
}
.wizard-miq-content {
  padding-top: 15px;
}

.wizard-miq-step {
  border-top: solid 1px #d1d1d1;
  margin-top: 15px;
}

.wizard-miq-substep-nav {
  background: #f8f8f8;
  border-right: 1px solid #E6E6E6;
  bottom: 0;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0px;
  position: relative;
  top: 0;
  width: $wz-substep-nav-width;

  .list-group {
    border-top: 0;
    margin-bottom: 0;
    > .list-group-item {
      background-color: transparent;
      border-color: #E6E6E6;
      padding: 0;

      > a {
        background-color: transparent;
        color: #030303;
        display: block;
        font-size: 14px;
        font-weight: 400;
        height: 63px;
        outline: 0;
        padding: 17px 20px 17px 25px;
        position: relative;
        white-space: nowrap;
        width: $wz-substep-nav-width;
      }
      &.active {
        > a {
          color: #199dde;
          font-weight: 600;
        }

        > a:before {
          background: #199dde;
          content: " ";
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 5px;
        }
        > a:after {
          color: #199dde;
          content: "\f105";
          display: block;
          font-family: FontAwesome;
          font-size: 24px;
          line-height: 30px;
          padding: 14px 0;
          position: absolute;
          right: 10px;
          top: 0;
        }
      }

      :hover {
        > a {
          background-color: #393f44;
          color: #fff;
          font-weight: 600;
        }
      }
    }
  }
}

.wizard-miq-step-content {
  padding: 20px 20px 0 20px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  top: 0;
  right: 0;
}


.wizard-miq-substeps-list {
  border: none;
  list-style: none;

  li {
    padding: 5px 0;
    a {
      cursor: pointer;
      color: $wz-default-color;
      span {
        position: absolute;
        left: 0;
      }
    }
  }

  li.current:before {
    color: $wz-current-color;

  }
  li.current,
  li.editing {
    pointer-events: none;
  }

  li.current a {
    color: $wz-current-color;
    &:before {
      background-color: $wz-current-bg-color;
    }
  }

  li.done a {
    color: $wz-done-color;
    &:before {
      background-color: $wz-done-bg-color;
    }
  }

  li.editing a {
    color: $wz-editing-color;
    &:before {
      background-color: $wz-editing-bg-color;
    }
  }
}

.wizard-miq-steps-indicator {
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 30px;
  list-style: none;

  &:before {
    background-color: $wz-default-border-color;
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    top: 42px;
    height: 2px;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


  li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 15px;
    counter-increment: section;

    a {
      color: $wz-default-color;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      transition: 0.25s;
      cursor: pointer;

      &:before {
        position: absolute;
        top: 18px;
        left: calc(50% - 10px);
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: solid 3px $wz-default-border-color;
        background-color: $wz-default-bg-color;
        color: $wz-default-color;
        content: counter(section);
        transition: 0.25s;
      }

      &:hover {
        color: darken($wz-current-color, 20%);
      }
    }
  }

  &.wizard-miq-steps-2 {
    &:before {
      left: calc(100% / 2 / 2);
      right: calc(100% / 2 / 2);
    }
    li {
      width: calc(100% / 2);
    }
  }

  &.wizard-miq-steps-3 {
    &:before {
      left: calc(100% / 3 /  2);
      right: calc(100% / 3 / 2);
    }
    li {
      width: calc(100% / 3);
    }
  }

  &.wizard-miq-steps-4 {
    &:before {
      left: calc(100% / 4 / 2);
      right: calc(100% / 4 / 2);
    }
    li {
      width: calc(100% / 4);
    }
  }

  &.wizard-miq-steps-5 {
    &:before {
      left: calc(100% / 5 / 2);
      right: calc(100% / 5 / 2);
    }
    li {
      width: calc(100% / 5);
    }
  }

  &.wizard-miq-steps-6 {
    &:before {
      left: calc(100% / 6 / 2);
      right: calc(100% / 6 / 2);
    }
    li {
      width: calc(100% / 6);
    }
  }

  &.wizard-miq-steps-7 {
    &:before {
      left: calc(100% / 7 / 2);
      right: calc(100% / 7 / 2);
    }
    li {
      width: calc(100% / 7);
    }
  }

  &.wizard-miq-steps-8 {
    &:before {
      left: calc(100% / 8 / 2);
      right: calc(100% / 8 / 2);
    }
    li {
      width: calc(100% / 8);
    }
  }

  &.wizard-miq-steps-9 {
    &:before {
      left: calc(100% / 9 / 2);
      right: calc(100% / 9 / 2);
    }
    li {
      width: calc(100% / 9);
    }
  }

  &.wizard-miq-steps-10 {
    &:before {
      left: calc(100% / 10 / 2);
      right: calc(100% / 10 / 2);
    }
    li {
      width: calc(100% / 10);
    }
  }

  &.wizard-miq-steps-11 {
    &:before {
      left: calc(100% / 11 / 2);
      right: calc(100% / 11 / 2);
    }
    li {
      width: calc(100% / 11);
    }
  }

  li.default {
    pointer-events: none;

    a:hover {
      color: $wz-current-color;
    }
  }

  li.current,
  li.editing {
    pointer-events: none;
  }

  li.current a {
    color: $wz-current-text-color;
    &:before {
      background-color: $wz-current-bg-color;
      border-color: $wz-current-border-color;
      color: $wz-current-color;
    }
  }

  li.done a {
    color: $wz-done-color;
    &:before {
      background-color: $wz-done-bg-color;
      border-color: $wz-done-border-color;
      color: $wz-done-color;
    }
  }

  li.editing a {
    color: $wz-current-text-color;
    &:before {
      background-color: $wz-editing-bg-color;
      border-color: $wz-editing-border-color;
      color: $wz-editing-color;
    }
  }
}

.wizard-miq-footer {
  padding-bottom: 17px;
  background-color: #d1d1d1;
}
.wizard-miq-btn-container {
  border-top: solid 1px #E6E6E6;
  float: right;
  width: 100%;
  padding: 15px;
  background-color: #f8f8f8;
  margin-top: 0;
}

.miq-deploy-provider-wizard {
  .sub-group {
    margin-top: 10px;
    margin-left: 20px;

    > a {
      margin-left: 10px;
    }
  }

  a {
    &.disabled {
      pointer-events: none;
      cursor: default;
      color: #E6E6E6;
    }
  }

  .miq-input-label-class {
    width: 95px;
    padding: 0 10px 0 20px;
    float: left;

    &.miq-input-label-class-lg {
      width: 150px;
    }
  }
  .miq-input-class {
    width: 200px;
    padding: 0 20px 0 10px;
    float: left;
  }

  .miq-radio-input-class {
    width: 200px;
    padding: 0 20px 0 30px;
    float: left;
  }

  .miq-touchspin-input-class {
    width: 130px;
    padding: 0 20px 0 30px;
    float: left;

    .form-control {
      height: 25px;
    }
    .btn {
      padding-bottom: 1px;
    }
    .form-control[readonly] {
      background-color: #fff;
    }
  }

  .form-horizontal > .radio {
    margin-left: 20px;
  }

  .nodes-table-container {
    margin-left: -10px;
    margin-right: -10px;
    border: solid 1px #d1d1d1;
  }
}
