.cfme-data-list {
  background: #fff;
  overflow: auto;
  padding-bottom: 1px;
}

.cfme-data-list .cfme-data-list-loading {
  background: rgba(0, 0, 0, 0.05);
}

.cfme-data-list .list-group-item.inline-charts {
  padding-bottom: 0px;
}

.cfme-data-list .list-group-item > [ng-include] {
}

.cfme-data-list .list-group-item:first-of-type {
  margin-top: 0;
}

.cfme-data-list .list-group-item .pficon {
  -webkit-align-items: center;
  align-items: center;
  font-size: 26px;
  color: #1186C1 !important;
  width: 26px;
}
.list-group-item.active .pficon,
.list-group-item.active:hover .pficon,
.list-group-item.active:focus .pficon {
  color: #ffffff !important;
}

.cfme-data-list .cfme-row-column {
  padding-right: 5px;
}

.cfme-data-list .list-group-item .cfme-column {
  float: left;
  padding: 5px 0px;

}

.cfme-data-list .list-group-item .cfme-column .cfme-icon-label {
  vertical-align: middle;
  white-space: nowrap;
}
.cfme-data-list .list-group-item .cfme-column.cfme-inline-chart {
  padding-top: 0px;
  width: 4em;
  margin: 0;
}

.cfme-data-list .list-group-item .cfme-column .cfme-item-title {
  font-weight: bold;
}

.cfme-data-list .list-group-item .utilization-chart-title-big {
  font-size: 14px;
  font-weight: 500;
}

.inline-card-status {
  background: transparent;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
}
.inline-card-status .count-title {
  font-weight: 300;
  margin-top: 0;
  float: left;
  padding-left: 5px;
}

.inline-card-status-type-icon {
  float: left;
  width:  39px;
  height: 39px;
}
.inline-card-status .inline-card-status-count {
  font-weight: 300;
  display: block;
  font-size: 24px;
  vertical-align: bottom;
  text-align: center;
  line-height: 28px;
}
.inline-card-status .inline-card-status-type {
  display: block;
  vertical-align: bottom;
  text-align: center;
}
.inline-card-status a {
  color: #000000;
  text-decoration: none;
}
.inline-card-status a:hover {
  color: #00618a;
  text-decoration: underline;
}
.inline-card-status .pficon {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -20px;
  width: 54px;
  font-size: 26px;
}
.inline-card-status .indicator {
  font-size: 20px;
}
.inline-card-status .indicator .count {
  top: -2px;
  position: relative;
  padding-left: 5px;
}
.inline-card-status .status {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -15px;
  width: 54px;
  font-size: 20px;
}

.inline-utilization-chart-title {
  font-size: 14px !important;
  font-weight: 500;
  color: #1186C1 !important;
}