
.data-list-pf .list-menu {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -20px;
  ul {
    cursor: pointer;
    padding: 0;
    font-size: 12px;
    line-height: 7px;
    -webkit-padding-start: 23px;  }
  li {
    color: #000000;
  }
}

.data-list-pf .list-group-item.inline-charts {
  padding-bottom: 0px;
}

.data-list-pf .cfme-row-column {
  padding-right: 5px;
}

.data-list-pf .list-group-item .cfme-column {
  float: left;
  padding: 5px 5px;

}
.data-list-pf .list-group-item .cfme-column:first-of-type {
  padding-left: 25px;
}

.data-list-pf .list-group-item .cfme-icon-label {
  color: #515151;
  font-size: 18px;
  vertical-align: middle;
  white-space: nowrap;
  padding-left: 5px;
}
.data-list-pf .list-group-item .pficon.cfme-icon-label {
  color: #1186C1;
}

.cfme-label {
  color: #515151;
  font-size: 12px;
  vertical-align: middle;
  white-space: nowrap;
  padding-left: 5px;
}
.data-list-pf .list-group-item .cfme-column.cfme-inline-chart {
  padding-top: 0px;
  width: 4em;
  margin: 0;
}

.data-list-pf .list-group-item .cfme-column .cfme-item-title {
  font-weight: bold;
}

.data-list-pf .list-group-item .utilization-chart-title-big {
  font-size: 14px;
  font-weight: 500;
}

.cfme-label.cfme-title {
  float: left;
  color: #515151;
  font-size: 13px;
  font-weight: 700;
}

.cfme-icon-label.cfme-title {
  float: left;
  color: #515151;
  font-size: 13px;
  font-weight: 700;
}

.cfme-label.cfme-count {
  float: left;
  text-align: right;
  line-height: 24px;
  text-align: right;
  width: 32px;
}

.inline-card-status {
  background: transparent;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
}
.inline-card-status .count-title {
  font-weight: 300;
  margin-top: 0;
  float: left;
  padding-left: 5px;
}

.inline-card-status-type-icon {
  float: left;
  width:  39px;
  height: 39px;
}
.inline-card-status .inline-card-status-count {
  font-weight: 300;
  display: block;
  font-size: 24px;
  vertical-align: bottom;
  text-align: center;
  line-height: 28px;
}
.inline-card-status .inline-card-status-type {
  display: block;
  vertical-align: bottom;
  text-align: center;
}
.inline-card-status a {
  color: #000000;
  text-decoration: none;
}
.inline-card-status a:hover {
  color: #00618a;
  text-decoration: underline;
}
.inline-card-status .pficon {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -20px;
  width: 54px;
  font-size: 26px;
}
.inline-card-status .indicator {
  font-size: 20px;
}
.inline-card-status .indicator .count {
  top: -2px;
  position: relative;
  padding-left: 5px;
}
.inline-card-status .status {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -15px;
  width: 54px;
  font-size: 20px;
}

.inline-utilization-chart-title {
  font-size: 14px !important;
  font-weight: 500;
  color: #1186C1 !important;
}
