.cfme-body {
  background: #f5f5f5;
}

.container-font-color {
  color: #1186C1 !important;
}

.object-image {
  width: 26px;
  height: 26px;
}

.container-heatmap-body {
  margin: 0;
  padding: 0;
}

.container-heatmap-tile {
  padding-top: 10px;
}

.usage-heatmap-body {
  padding: 0;
}

.network-heatmap-body {
  border-left: 1px solid #d1d1d1;
}

.heatmap-legend  {
  font-size: 11px;
  font-weight: normal;
  line-height: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.heatmap-legend .color-box {
  width: 11px;
  height: 11px;
  margin-left: 5px;
  margin-right: 5px;
}
.heatmap-legend .legend-text {
  font-size: 11px;
  font-weight: normal;
  line-height: 11px;
  padding-right: 5px;
}

.aggregate-status-separator {
  width: 15px;
}

/* this is the value inside the donut */
.utilization-chart-title-big {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: lighter;
  color: #333; }

.utilization-chart .title-small {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #333; }

.utilization-chart .title-small-upper {
  font-size: 12px;
  line-height: 12px;
  margin-top: 8px; }

.utilization-chart .title-small-lower {
  font-size: 12px;
  line-height: 14px; }

.utilization-chart .available-text {
  padding-left: 5px; }

.utilization-chart .legend-text {
  color: inherit;
  display: block;
  font-size: 11px;
  font-weight: normal;
  margin-left: 5px; }

.quota-chart-row {
  margin-bottom: 6px; }

.quota-chart-bar {
  height: 25px;
  margin-bottom: 21px; }

.quota-chart-used {
  background-color: #0088CE; }

.quota-chart-unused {
  background-color: #D1D1D1; }

.quota-chart-title {
  font-size: 15px;
  line-height: 15px;
  font-weight: normal;
  margin-bottom: 5px; }

.tile-pf.tile-pf-aggregate-status {
  min-height: 0px; }

.container-font-color {
  color: #1186C1 !important; }

.object-image {
  width: 26px;
  height: 26px; }

/* Missing from Patternfly */
.tile-pf-subtitle {
  font-size: 12px;
  font-weight: normal;
  margin: 20px 0;
  padding: 0; }

.container-heatmap-body {
  margin: 0;
  padding: 0; }

.container-heatmap-tile {
  padding-top: 10px; }

.usage-heatmap-body {
  padding: 0; }

.network-heatmap-body {
  border-left: 1px solid #d1d1d1; }

.heatmap-legend {
  font-size: 11px;
  font-weight: normal;
  line-height: 11px;
  padding-top: 10px;
  padding-bottom: 10px; }

.heatmap-legend .color-box {
  width: 11px;
  height: 11px;
  margin-left: 5px;
  margin-right: 5px; }

.heatmap-legend .legend-text {
  font-size: 11px;
  font-weight: normal;
  line-height: 11px;
  padding-right: 5px; }

.aggregate-status-separator {
  width: 15px; }

.providers-status {
  padding-bottom: 9px !important; }

.project-dashboard .tile-pf-aggregate-status {
  padding-top: 11px;
  padding-bottom: 11px; }

.project-dashboard .tile-pf-status {
  padding-top: 11px;
  padding-bottom: 11px; }

