
.pf-fixed-body {
  padding-top: 125px;
}

.breadcrumb {
  margin-top: -20px;
}

.cfme-body {
  background: #f5f5f5;
}

.card-pf .loading {
  margin: 10px auto;
}

.card-pf-providers {
  min-height: 144px;

  .providers {
    padding: 20px 0;

    & a {
      color: #000000;
      text-decoration: none;
    }

    & a:hover {
      color: #00618a;
      text-decoration: underline;
    }
    .count {
      margin: 0 5px;
    }

    .provider-icon {
      font-size: 22px;
      position: relative;
      top: 5px;
      padding-right: 5px;
      opacity: .9;

      &:hover {
        opacity: 1;
      }
    }
  }

  .provider-icon-large {
    font-size: 100px;
    position: relative;
    padding-bottom: 4px;
    width: 100%;
    text-align: center;
  }
}



.card-pf.card-pf-aggregate-status {
  min-height: 144px;
}

.providers-status {
  padding-bottom: 9px !important; }

.pf-obj-status-large {
  .card-pf-title {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.pficon-kubernetes::before {
  color: #326de6;
}

.pficon-openshift::before {
  color: #da2430;
}

.cfme-objects-view {

  .tiles-view-pf {
    .tile {
      overflow: hidden;
    }
    .tile-content {
      overflow: hidden;
    }
  }

  .tile-title .cfme-icon-label {
    padding-left: 5px;
    padding-bottom: 15px;
  }

  .tile-row {
    padding: 0;
    margin: 0;
  }

  .tile-column {
    width: 50%;
    float: left;
  }

  .status-object {
    text-align: left;
    margin: 5px 20px;

    .pficon {
      font-size: 20px;
      vertical-align: middle;
      width: 26px;
      color: #1186C1;
    }
    .status-count {
      font-size: 18px;
      color: #515151;
    }
    .status-text {
      font-size: 12px;
      color: #515151;
    }
  }

  .cpu-usage-column {
    width: 150px;
    .cfme-title {
      text-align: right;
      width: 95px;
    }
  }
  .memory-usage-column {
    width: 180px;
    .cfme-title {
      text-align: right;
      width: 135px;
    }
  }

  .data-list-pf {

    .name-column {
      width: 150px;
    }
    .cpu-usage-column {
      width: 150px;
      .cfme-title {
        text-align: right;
        .rhev-table-header {

          width: 95px;
        }
      }
      .memory-usage-column {
        width: 180px;
        .cfme-title {
          text-align: right;
          width: 135px;
        }
      }

      .storage-usage-column {
        width: 180px;
        .cfme-title {
          text-align: right;
          width: 125px;
        }
      }

      .network-usage-column {
        width: 220px;
        .cfme-title {
          text-align: right;
          width: 150px;
        }
      }

      .name-column {
        width: 120px;
      }
      .nodes-column {
        width: 120px;
      }
      .pods-column {
        width: 130px;
      }
      .containers-column {
        width: 160px;
      }
      .services-column {
        width: 140px;
      }
      .registries-column {
        width: 130px;
      }
      .images-column {
        width: 140px;
      }
      .projects-column {
        width: 140px;
      }
      .routes-column {
        width: 130px;
      }
      .provider-column {
        width: 150px;
        padding-top: 4px !important;
      }
      .replicators-column {
        width: 150px;
      }
      .uptime-column {
        width: 150px;
      }
    }
  }
}

.providers-list .data-list-pf .name-column {
  width: 160px;
}

.providers-tiles .tiles-view-pf .tile {
  height: 240px;
  width: 355px;
}

.projects-tiles .tiles-view-pf .tile {
  height: 230px;
  width: 355px;
}
.projects-tiles .status-object.provider-object {
  text-align: center;
}

.project-dashboard .card-pf-status {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pods-tiles .tiles-view-pf .tile {
  height: 230px;
  width: 355px;
}

.pods-containers-info {

  .containers-heading {
    text-align: center;
    .pficon {
      color: #1186C1;
      font-size: 64px;
      padding: 10px 20px;
    }
    .containers-count {
      border-left: 1px solid #d1d1d1;
      color: #515151;
      font-weight: 300;
    }
    .containers-label {
      font-size: 26px;
    }
  }
  .containers-counter {
    font-size: 32px;
  }

  .containers-list {
    margin-top: 10px;
    border: 1px solid #d1d1d1;
    .toolbar-pf {
      padding-bottom: 10px;
    }
    .list-view-container {
      height: 260px;
    }
  }
}

.pod-metrics {
  height: 392px;
  overflow-y: auto;

  .metric-row {
    padding: 10px 5px;
    margin: 0;
  }

  .metric-row:first-of-type {
    padding-top: 5px;
  }

  .metric-row:last-of-type {
    padding-bottom: 5px;
  }

  .metric-col {
    float: left;
  }

  .metric-title {
    text-align: right;
    font-weight: 700;
    float: left;
    width: 175px;
    padding: 0 5px;

  }
  .metric-value {
    float: left;
    padding: 0 5px;
  }
}
