
// Product overrides of Bootstrap & Patternfly variables

@navbar-pf-navbar-navbar-brand-min-width:   270px;
@navbar-pf-navbar-navbar-brand-padding:     8px 0 2px;
@dropdown-link-hover-bg:                    #d4edfa;  // sets dropdown link hover
@link-color:                                #0099d3;  // sets link (also accordion hover, selected table cell) color globally
@navbar-pf-border-color:                    #063451;  // sets 3px border color at top of screen
@navbar-pf-bg-color:                        #063451;  // sets backgound color of navigation bar
@img-path:                                  "../img";

@img-brand-ie8:                                                     "brand.png";
