@fa-font-path:  "../../libraries/patternfly/components/font-awesome/fonts";
@font-path:     "../../libraries/patternfly/dist/fonts";
@img-path:      "../../libraries/patternfly/dist/img";

.count-utilization {
  padding-left: 5px;
  font-weight: normal;
}

.card-pf-title {
  font-weight: normal;
  margin: 10px 0;
}
.card-pf .count-title {
  font-weight: normal;
}

.card-pf-body {
  padding: 0 0 10px;
}

.card-pf-heading {
  margin-bottom: 10px;
}
.count-title {
  font-weight: normal;
}

.utilization-chart-title-big {
  font-size: 22px;
  font-weight: normal;
}

.utilization-chart-title-small {
  font-size: 12px;
  font-weight: normal;
}

.utilization-chart .title-small-upper {
  margin-top: 5px;
}

.utilization-chart .legend-text {
  margin-left: 0px;
  font-size: 12px;
}
.card-pf-status .status {
  font-size: 22px;
}
.card-pf-status .card-pf-title .card-pf-status-count {
  font-size: 22px;
}
.card-pf-providers .providers .provider-icon {
  font-size: 22px;
}