/** Overrides */

.container {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
  width: 100%;
}

.container-fluid {
  padding-bottom: 5px;
}

.count-title {
  font-weight: normal;
}

.count-utilization {
  font-size: 26px;
}

.tile-pf {
  margin-bottom: 10px;
}

.tile-pf-body {
  padding-bottom: 0px;
}

.tile-pf-heading {
  margin-bottom: 0px;
}

.tile-pf-title {
  font-weight: normal;
  font-size: 20px;

  .tile-pf-status-count {
    font-size: 24px;
    vertical-align: bottom;
    text-align: center;
    line-height: 28px;
  }

}

.tile-pf-status {

  .status-notifications {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
    width: 54px;
    font-size: 20px;

    .count {
      top: -2px;
      position: relative;
    }
  }

}

.row-tile-pf + .row-tile-pf + .row-tile-pf {
  margin-top: 0px;
}

