<div class="miq-modal miq-add-host-dialog">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancelAddDialog()" aria-hidden="true">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title">Add Host</h4>
  </div>
  <div class="modal-body">
    <div class="miq-add-dialog-content">
      <div class="miq-page-text">Enter a name or IP address</div>
      <form>
        <div pf-form-group pf-label="Private Host Name" required pf-label-class="miq-input-label-class miq-input-label-class-lg" pf-input-class="miq-input-class">
          <input id="add-private-name" ng-model="newHost.vmName" type="text" ng-change="updateNewVMName()" required/>
        </div>
        <div pf-form-group pf-label="Public Host Name" required pf-label-class="miq-input-label-class miq-input-label-class-lg" pf-input-class="miq-input-class">
          <input id="add-public-name" ng-model="newHost.publicName" type="text" ng-change="updateNewVMPublicName()"/>
        </div>
      </form>
      <div class="miq-page-text">Specify role(s) for this host</div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <a class="btn-link" ng-click="newVmSelectAll()">Select All</a>
          </div>
          <div class="col-sm-6">
            <label class="checkbox-inline">
              <input type="checkbox" role="presentation" ng-model="newHost.loadBalancer">Load Balancer
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label class="checkbox-inline">
              <input type="checkbox" role="presentation" ng-model="newHost.master">Master
            </label>
          </div>
          <div class="col-sm-6">
            <label class="checkbox-inline">
              <input type="checkbox" role="presentation" ng-model="newHost.dns">DNS
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label class="checkbox-inline">
              <input type="checkbox" role="presentation" ng-model="newHost.node">Node
            </label>
          </div>
          <div class="col-sm-6">
            <label class="checkbox-inline">
              <input type="checkbox" role="presentation" ng-model="newHost.etcd">Etcd
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label class="checkbox-inline">
              <input type="checkbox" role="presentation" ng-model="newHost.storage">Storage
            </label>
          </div>
          <div class="col-sm-6">
            <label class="checkbox-inline">
              <input type="checkbox" role="presentation" ng-model="newHost.infrastructure">Infrastructure
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelAddDialog()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="saveAddDialog()" ng-class="{disabled: !newHost.vmName || newHost.vmName.length === 0} ">Add</button>
  </div>
</div>
