<div ng-controller="containers.deployProviderConfigSettingsController">
  <div miq-wizard-substep step-title="Settings" step-id="config-storage" next-enabled="configStorageComplete" on-show="onShow" wz-disabled="false">
    <div class="miq-form-heading">Select configuration settings</div>
    <form role="form">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="data.configureRouter">Configure router
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="data.configureRegistry">Configure registry
        </label>
      </div>
      <div class="miq-radio-form">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="data.useDefaultRegistry">Use default registry configured above
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="data.useS3Registry">Use S3
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="data.useSwift">Use Swift
          </label>
        </div>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="data.configureMetrics">Configure metrics
        </label>
      </div>
    </form>
  </div>
</div>
