<ul class="nav navbar-nav navbar-primary persistent-secondary">
    <li ng-repeat="item in items" class="{{ item.class }}">
    	<a href="{{item.href}}" ng-click="select(item)">{{ item.title }}</a>
        <ul class="nav navbar-nav navbar-persistent" ng-if="item.children && item.class==='active'">
          <li ng-repeat="child in item.children" class="{{ child.class }}">
            <a href="{{ child.href }}" ng-click="select(child, item)">{{ child.title }}</a>
          </li>
        </ul>
     </li>
</ul>