<div class="container-fluid container-tiles-pf container-providers">
    <ol class="breadcrumb" style="margin-bottom: 0px;">
        <li class="active"><a href="#/containers/dashboard">Container Providers</a></li>
        <li>
            {{ vm.navigaition }}
        </li>
   </ol>
    <div class="row row-tile-pf" >
        <div class="col-xs-6 col-sm-4 col-md-2">
            <div pf-aggregate-type-card types="vm.providers"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10">
            <div class="row">
                <div>
                    <div class="col-xs-6 col-sm-6 col-md-3" ng-repeat="widget in vm.status_widgets">
                        <div pf-obj-status type="widget"></div>
                    </div>
                </div>
            </div><!-- /row -->
        </div>
    </div><!-- /row -->
    <div class="row row-tile-pf">
        <div class="col-xs-7 col-sm-8 col-md-8">
           <div pf-card headtitle="Utilization">
                <div class="row" ng-if="vm.utilizationLoadingDone">
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div pf-utilization-chart config="vm.cpuUsageConfig" data="vm.cpuUsageData"></div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div pf-utilization-chart config="vm.memoryUsageConfig" data="vm.memoryUsageData"></div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div pf-utilization-chart config="vm.storageUsageConfig" data="vm.storageUsageData"></div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div pf-utilization-chart config="vm.networkUsageConfig" data="vm.networkUsageData"></div>
                    </div>
                </div>
                <div ng-if="!vm.utilizationLoadingDone" class="spinner spinner-lg loading"></div>
            </div>
        </div>
        <div class="col-xs-5 col-sm-4 col-md-4">
           <div style="width:100%;">
                <div pf-card headtitle="Container Group Trends" subtitle="Last 30 Days">
                    <div pf-trends id="cgTrends" config="vm.containerGroupTrendConfig" chart-height="69"
                         data="vm.containerGroupTrends" ng-if="vm.containerGroupTrendsLoadingDone"></div>
                    <div ng-if="!vm.containerGroupTrendsLoadingDone" class="spinner spinner-lg loading"></div>
                </div>               
            </div>
            <div style="width:100%;">
                <div pf-card headtitle="Image Creation Trends" subtitle="Last 30 Days">
                    <div pf-trends id="imageTrends" config="vm.imageCreationsTrendConfig" chart-height="85"
                         data="vm.imageCreations" ng-if="vm.imageCreationsLoadingDone"></div>
                    <div ng-if="!vm.imageCreationsLoadingDone" class="spinner spinner-lg loading"></div>
                </div>
            </div>
        </div>
    </div><!-- /row -->
    <div class="row row-tile-pf row-tile-pf-last">
        <div class="col-md-12">
            <ng-include src="'modules/containers/partials/heatmaps.html'"></ng-include>
        </div>
    </div>
</div><!-- /container -->
