<div class="container-fluid container-tiles-pf container-providers">
    <ol class="breadcrumb" style="margin-bottom: 0px;">
        <li class="active"><a href="#/containers/dashboard">Container Providers</a></li>
        <li>
            {{ vm.navigaition }}
        </li>
   </ol>
    <div class="row row-tile-pf" >
        <div class="col-xs-6 col-sm-4 col-md-2">
            <div cfme-aggregate-type-card types="vm.providers"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10">
            <div class="row">
                <div>
                    <div class="col-xs-6 col-sm-6 col-md-3" ng-repeat="widget in vm.status_widgets">
                        <div cfme-obj-status type="widget"></div>
                    </div>
                </div>
            </div><!-- /row -->
        </div>
    </div><!-- /row -->
    <div class="row row-tile-pf">
        <div class="col-xs-7 col-sm-7 col-md-7">
            <div pf-card head-title="Node Utilization" hidetopborder="true">
                <div class="row combination-card-body" ng-if="vm.utilizationLoadingDone">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div pf-utilization-chart config="vm.cpuUsageConfig" donut-config="vm.cpuUsageDonutConfig" sparkline-config="vm.cpuUsageSparklineConfig" chart-data="vm.cpuUsageData"></div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div pf-utilization-chart config="vm.memoryUsageConfig" donut-config="vm.memoryUsageDonutConfig" sparkline-config="vm.memoryUsageSparklineConfig" chart-data="vm.memoryUsageData"></div>
                    </div>
                </div>
                <div ng-if="!vm.utilizationLoadingDone" class="spinner spinner-lg loading"></div>
            </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5">
            <div pf-card head-title="Network Utilization" hidetopborder="true">
                <div pf-sparkline-chart id="networkUtilizationCurrent" config="vm.networkUtilizationCurrentConfig"
                     chart-data="vm.currentNetworkUtilization" ng-if="vm.networkUtilizationLoadingDone" chart-height="vm.chartHeight"></div>
                <span class="card-pf-subtitle" >Last 15 Minutes</span>
            </div>
            <div pf-card head-title="Network Utilization" hidetopborder="true">
                <div pf-sparkline-chart id="networkUtilizationDaily" config="vm.networkUtilizationDailyConfig"
                     chart-data="vm.dailyNetworkUtilization" ng-if="vm.networkUtilizationLoadingDone" chart-height="vm.chartHeight"></div>
                <span class="card-pf-subtitle" >Last 30 Days</span>
            </div>
            <div ng-if="!vm.networkUtilizationLoadingDone" class="spinner spinner-lg loading"></div>
        </div>
    </div><!-- /row -->
    <div class="row row-tile-pf row-tile-pf-last">
        <div class="col-md-7">
            <ng-include src="'modules/containers/partials/heatmaps.html'"></ng-include>
        </div>
        <div class="col-xs-5 col-sm-4 col-md-5">
            <div style="width:100%;">
                <div pf-card head-title="Total Pods Trends" hidetopborder="true">
                    <div pf-sparkline-chart id="podTrends" config="vm.podTrendConfig"
                         chart-data="vm.podTrends" ng-if="vm.podTrendsLoadingDone" chart-height="vm.chartHeight"></div>
                    <span class="card-pf-subtitle" >Last 30 Days</span>
                    <div ng-if="!vm.podTrendsLoadingDone" class="spinner spinner-lg loading"></div>
                </div>
                <div pf-card head-title="Total Images Trends" hidetopborder="true">
                    <div pf-sparkline-chart id="imageTrends" config="vm.imageTrendConfig"
                         chart-data="vm.imageTrends" ng-if="vm.imageTrendLoadingDone" chart-height="vm.chartHeight"></div>
                    <span class="card-pf-subtitle" >Last 30 Days</span>
                    <div ng-if="!vm.imageTrendLoadingDone" class="spinner spinner-lg loading"></div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /container -->
