<div class="container-fluid container-cards-pf container-providers miq-dashboard-view">
    <ol class="breadcrumb" style="margin-bottom: 0px;">
        <li class="active"><a href="#/compute/containers/dashboard">Containers</a></li>
        <li class="active"><a href="#/compute/containers/providers">Providers</a></li>
        <li>
            {{ navigaition }}
        </li>
   </ol>
    <div class="row row-tile-pf" >
        <div class="col-xs-6 col-sm-4 col-md-2">
          <div class="row">
            <div pf-card class="col-xs-12 provider-card" show-top-border="true">
              <img class="miq-dashboard-full-image" ng-src="{{getProviderTypeImage()}}">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3">
              <div  pf-aggregate-status-card status="objectStatus.nodes" url="navigation" show-top-border="true" layout="mini"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
              <div  pf-aggregate-status-card status="objectStatus.containers" url="navigation" show-top-border="true" layout="mini"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
              <div  pf-aggregate-status-card status="objectStatus.registries" url="navigation" show-top-border="true" layout="mini"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
              <div  pf-aggregate-status-card status="objectStatus.projects" url="navigation" show-top-border="true" layout="mini"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
              <div  pf-aggregate-status-card status="objectStatus.pods" url="navigation" show-top-border="true" layout="mini"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
              <div  pf-aggregate-status-card status="objectStatus.services" url="navigation" show-top-border="true" layout="mini"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
              <div  pf-aggregate-status-card status="objectStatus.images" url="navigation" show-top-border="true" layout="mini"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
              <div  pf-aggregate-status-card status="objectStatus.routes" url="navigation" show-top-border="true" layout="mini"></div>
            </div>
          </div><!-- /row -->
        </div>
    </div><!-- /row -->
    <div class="row row-tile-pf">
        <div class="col-xs-7 col-sm-7 col-md-7">
            <div pf-card head-title="Node Utilization" hidetopborder="true">
                <div class="row" ng-if="utilizationLoadingDone">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div pf-utilization-trend-chart config="cpuUsageConfig" donut-config="cpuUsageDonutConfig" sparkline-config="cpuUsageSparklineConfig" chart-data="cpuUsageData"></div>
                        <span class="trend-footer-pf">Last 30 Days</span>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div pf-utilization-trend-chart config="memoryUsageConfig" donut-config="memoryUsageDonutConfig" sparkline-config="memoryUsageSparklineConfig" chart-data="memoryUsageData"></div>
                        <span class="trend-footer-pf">Last 30 Days</span>
                    </div>
                </div>
                <div ng-if="!utilizationLoadingDone" class="spinner spinner-lg loading"></div>
            </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5">
            <div pf-card head-title="{{networkUtilizationCurrentConfig.headTitle}}">
              <div pf-trends-chart config="networkUtilizationCurrentConfig" chart-data="currentNetworkUtilization"
                   ng-if="networkUtilizationLoadingDone" chart-height="chartHeight">
              </div>
            </div>
            <div pf-card head-title="{{networkUtilizationDailyConfig.headTitle}}">
              <div pf-trends-chart config="networkUtilizationDailyConfig" chart-data="dailyNetworkUtilization"
                   ng-if="networkUtilizationLoadingDone" chart-height="chartHeight">
              </div>
            </div>
            <div ng-if="!networkUtilizationLoadingDone" class="spinner spinner-lg loading"></div>
        </div>
    </div><!-- /row -->
    <div class="row row-tile-pf row-tile-pf-last">
        <div class="col-md-7">
          <div heatmaps-card card-title="Node Utilization" hidetopborder="true" chart-data-available="nodeCpuUsage.loadingDone || nodeMemoryUsage.loadingDone"
               heatmaps="heatmaps" heatmap-chart-height="dashboardHeatmapChartHeight" columnSizingClass="col-xs-8 col-sm-6 col-md-6"
               heat-map-usage-legend-labels="nodeHeatMapUsageLegendLabels">
          </div>
        </div>
        <div class="col-xs-5 col-sm-4 col-md-5">
            <div style="width:100%;">
              <div pf-card head-title="{{podTrendConfig.headTitle}}">
                <div pf-trends-chart config="podTrendConfig" chart-data="podTrends"
                     ng-if="podTrendsLoadingDone" chart-height="chartHeight">
                </div>
              </div>
              <div ng-if="!podTrendsLoadingDone" class="spinner spinner-lg loading"></div>
              <div pf-card head-title="{{imageTrendConfig.headTitle}}">
                <div pf-trends-chart config="imageTrendConfig" chart-data="imageTrends"
                     ng-if="imageTrendLoadingDone" chart-height="chartHeight">
                </div>
              </div>
              <div ng-if="!imageTrendLoadingDone" class="spinner spinner-lg loading"></div>
            </div>
        </div>
    </div>
</div><!-- /container -->
